<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Объявление #{{ this.advert_id }}</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator">-</li>
                                    <li class="m-nav__item">
                                        <a href="/admin/adverts" class="m-nav__link">
                                            <span class="m-nav__link-text">Все обьявления</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div v-if="successful" class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <strong>Спасибо!</strong> Вы успешно обновили дату рекламы.
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <!--begin::Portlet-->
                            <div class="m-content">
                                <div class="m-portlet">
                                    <div class="m-portlet__body">
                                        <ul class="nav nav-tabs  m-tabs-line" role="tablist">
                                            <li class="nav-item m-tabs__item">
                                                <a class="nav-link m-tabs__link "  :href="'/admin/advert-'+c_advert.id" >Общее</a>
                                            </li>
                                            <li class="nav-item m-tabs__item">
                                                <a class="nav-link m-tabs__link active" >Реклама</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane " id="m_tabs_1_1" role="tabpanel">

                                            </div>
                                            <div class="tab-pane active" id="m_tabs_1_3" role="tabpanel">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable dtr-inline"
                                                       id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                                    <thead>
                                                    <tr role="row">
                                                        <td>Описание рекламы</td>
                                                        <td>Действует до</td>
                                                        <td>Действия</td>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <td>Описание рекламы</td>
                                                        <td>Действует до</td>
                                                        <td>Действия</td>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    <tr role="row" class="odd">
                                                        <td>Виділення червоним</td>
                                                        <td>{{ this.c_advert.red | moment("DD-MM-YYYY kk:mm:ss") }}</td>

                                                        <td>
                                                            <a data-toggle="modal" data-target="#m_modal_1" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td>Підняття оголошення</td>
                                                        <td>{{ this.c_advert.once_top_day | moment("DD-MM-YYYY kk:mm:ss") }}</td>
                                                        <td>
                                                            <a data-toggle="modal" data-target="#m_modal_2" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td> ТОП-оголошення</td>
                                                        <td>{{ this.c_advert.top | moment("DD-MM-YYYY kk:mm:ss") }}</td>
                                                        <td>
                                                            <a data-toggle="modal" data-target="#m_modal_3" href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                               title="View">
                                                                <i class="la la-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end::Portlet-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>

        <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Редактирование рекламы: <b>Виділення червоним</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="red" method="POST" @submit.prevent="updateRed" enctype="multipart/form-data">
                            <input hidden name="advert_id" v-model="c_advert.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Новая дата действия рекламы</label>
                                    <date-picker v-model="new_red" value-type="format" format="DD-MM-YYYY"></date-picker>
                                </div>
                                <div class="form-group m-form__group form-group__custom">
                                    <label>Отправить уведомление? ( ВНИМАТЕЛЬНО )</label>
                                    <select name="send" required class="form-control m-input">
                                        <option  :key="'Нет'" :label="'Нет'" :value="'Нет'"></option>
                                        <option  :key="'Да'" :label="'Да'" :value="'Да'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Редактирование рекламы: <b>Підняття оголошення</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="order" method="POST" @submit.prevent="updateOrder" enctype="multipart/form-data">
                            <input hidden name="advert_id" v-model="c_advert.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Новая дата действия рекламы</label>
                                    <date-picker v-model="new_once_top_day" value-type="format" format="DD-MM-YYYY"></date-picker>
                                </div>
                                <div class="form-group m-form__group form-group__custom">
                                    <label>Отправить уведомление? ( ВНИМАТЕЛЬНО )</label>
                                    <select name="send" required class="form-control m-input">
                                        <option  :key="'Нет'" :label="'Нет'" :value="'Нет'"></option>
                                        <option  :key="'Да'" :label="'Да'" :value="'Да'"></option>
                                    </select>
                                </div>

                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Редактирование рекламы: <b>Топ оголошення</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="top" method="POST" @submit.prevent="updateTop" enctype="multipart/form-data">
                            <input hidden name="advert_id" v-model="c_advert.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Новая дата действия рекламы</label>
                                    <date-picker  v-model="new_top" value-type="format" format="DD-MM-YYYY"></date-picker>
                                </div>
                                <div class="form-group m-form__group form-group__custom">
                                    <label>Отправить уведомление? ( ВНИМАТЕЛЬНО )</label>
                                    <select name="send" required class="form-control m-input">
                                        <option  :key="'Нет'" :label="'Нет'" :value="'Нет'"></option>
                                        <option  :key="'Да'" :label="'Да'" :value="'Да'"></option>
                                    </select>
                                </div>

                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';


    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer', 'advert_id'],
        components: {
            crm_header,
            crm_menu,
            DatePicker
        },
        data() {
            return {
                c_advert: [],
                successful: '',
                new_red: '',
                new_top: '',
                new_once_top_day: '',
            };
        },
        created() {
            axios.post('/admin/advert/get', {
                'id': this.advert_id
            }).then(response => (
                this.c_advert = response.data,
                    this.new_red = moment(this.c_advert.red).format('DD-MM-YYYY'),
                    this.new_top = moment(this.c_advert.top).format('DD-MM-YYYY'),
                    this.new_once_top_day = moment(this.c_advert.once_top_day).format('DD-MM-YYYY')
            ));
        },
        methods: {

            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },

            create: function (event) {
                axios.post('/admin/advert/create', new FormData(this.$refs.order))
                    .then(
                        response => (
                            axios.post('/admin/adverts').then(response => (this.adverts = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            updateRed: function (event) {
                axios.post('/admin/advert/update-red', new FormData(this.$refs.red))
                    .then(
                        response => (
                            axios.post('/admin/advert/get', {
                                'id': this.advert_id
                            }).then(response => (
                                this.c_advert = response.data,
                                    this.new_red = moment(this.c_advert.red).format('DD-MM-YYYY'),
                                    this.new_top = moment(this.c_advert.top).format('DD-MM-YYYY'),
                                    this.new_once_top_day = moment(this.c_advert.once_top_day).format('DD-MM-YYYY')
                            )),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    );
            },
            updateOrder: function (event) {
                axios.post('/admin/advert/update-order', new FormData(this.$refs.order))
                    .then(
                        response => (
                            axios.post('/admin/advert/get', {
                                'id': this.advert_id
                            }).then(response => (
                                this.c_advert = response.data,
                                    this.new_red = moment(this.c_advert.red).format('DD-MM-YYYY'),
                                    this.new_top = moment(this.c_advert.top).format('DD-MM-YYYY'),
                                    this.new_once_top_day = moment(this.c_advert.once_top_day).format('DD-MM-YYYY')
                            )),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    );
            },
            updateTop: function (event) {
                axios.post('/admin/advert/update-top', new FormData(this.$refs.top))
                    .then(
                        response => (
                            axios.post('/admin/advert/get', {
                                'id': this.advert_id
                            }).then(response => (
                                this.c_advert = response.data,
                                    this.new_red = moment(this.c_advert.red).format('DD-MM-YYYY'),
                                    this.new_top = moment(this.c_advert.top).format('DD-MM-YYYY'),
                                    this.new_once_top_day = moment(this.c_advert.once_top_day).format('DD-MM-YYYY')
                            )),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    );
            }
        }
    }

</script>

<style scoped>
    .modal {
        padding-right: 0 !important;
    }

    @media (max-width: 479px) {
        .modal-content .modal-body .form-group__custom {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
