<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Объявления</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Поиск по объявлениям
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <form class="m-form m-form--fit m--margin-bottom-20">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Кадастровй номер</label>
                                            <input type="text" v-model="filter_cadnum" class="form-control m-input" >
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Статус</label>
                                            <select v-model="filter_search_status" required class="form-control m-input">
                                                <option  :key="'На модерації'" :label="'На модерації'" :value="'На модерації'"></option>
                                                <option  :key="'Активно'" :label="'Активно'" :value="'Активно'"></option>
                                                <option  :key="'Відключено'" :label="'Відключено'" :value="'Відключено'"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Тип обьявления</label>
                                            <select v-model="filter_search_type" required class="form-control m-input">
                                                <option  :key="'Продаж'" :label="'Продаж'" :value="'Продаж'"></option>
                                                <option  :key="'Оренда'" :label="'Оренда'" :value="'Оренда'"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Область</label>
                                            <v-select :options="regions" v-model="filter_region" ></v-select>
                                        </div>
                                    </div>
                                    <div class="m-separator m-separator--md m-separator--dashed"></div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-12">
                                            <button type="button"  class="btn btn-brand m-btn m-btn--icon" @click="filter()" >
                                                    <span>
                                                        <i class="la la-search"></i>
                                                        <span>Поиск</span>
                                                    </span>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary m-btn m-btn--icon" @click="reset()" >
                                                    <span>
                                                        <i class="la la-close"></i>
                                                        <span>Сбросить</span>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div style="overflow-x: auto;">
                                    <table class="table table-striped- table-badverted table-hover table-checkable dataTable dtr-inline m-table"
                                           id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                        <thead>
                                        <tr role="row">
                                            <th>ID</th>
                                            <th>Кадастровый номер</th>
                                            <th>Тип</th>
                                            <th>Собственник</th>
                                            <th>Агент</th>
                                            <th>Реклама</th>
                                            <th>Просмотров</th>
                                            <th>Дата создания</th>
                                            <th>Статус</th>
                                            <th>Действия</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Кадастровый номер</th>
                                            <th>Тип</th>
                                            <th>Собственник</th>
                                            <th>Агент</th>
                                            <th>Реклама</th>
                                            <th>Просмотров</th>
                                            <th>Дата создания</th>
                                            <th>Статус</th>
                                            <th>Действия</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="advert in adverts" role="row" :class="{ 'm-table__row--warning': advert.search_status == 'На модерації' }">
                                            <td>{{ advert.id }}</td>
                                            <td>{{ advert.cadnum }}</td>
                                            <td>{{ advert.type }}</td>
                                            <td v-if="advert.customer">{{ advert.customer.surname }} {{ advert.customer.name }}</td>
                                            <td v-else ><span class="m--font-bold m--font-danger">Нет</span></td>
                                            <td v-if="advert.agent_id == 0"><span class="m--font-bold m--font-danger">Нет</span></td>
                                            <td v-else ><span class="m--font-bold m--font-accent">Есть</span></td>
                                            <td></td>
                                            <td>{{ advert.views }}</td>
                                            <td>{{ advert.created_at | moment("DD-MM-YYYY")}}</td>
                                            <td v-if="advert.search_status == 'Активно'"><span class="m-badge  m-badge--info m-badge--wide">Активно</span></td>
                                            <td v-else-if="advert.search_status == 'На модерації'"><span class="m-badge  m-badge--danger m-badge--wide">На модерації</span></td>
                                            <td v-else ><span class="m-badge  m-badge--metal m-badge--wide">Отключено</span></td>
                                            <td>
                                                <a  :href="'/admin/advert-'+advert.id"
                                                    target="_blank"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                    title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";
    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                adverts: [],
                regions: [],
                c_advert: [],
                successful: '',
                filter_cadnum:'',
                filter_search_status:'',
                filter_search_type:'',
                filter_region:'',
                heightHelper: null,
                resize: null
            };
        },
        created() {
            axios.post('/admin/adverts').then(response => (this.adverts = response.data));
            axios.post('/admin/regions').then(response => (this.regions = response.data));
        },
        methods: {
            checkCounter: function () {
                if(this.c_advert.search_status == 'На модерації'){
                    $('.js-counter').html(parseInt($('.js-counter').html())-1);
                    axios.post('/admin/adverts').then(response => (this.adverts = response.data));
                }
            },
            filter: function () {
                axios.post('/admin/advert/filter', {
                    'cadnum': this.filter_cadnum, 'search_status': this.filter_search_status, 'region': this.filter_region.value, 'type': this.filter_search_type,
                })
                    .then(
                        response => (
                            this.adverts = response.data
                        )
                    );
            },
            reset: function () {
                this.filter_cadnum = '';
                this.filter_search_status = '';
                this.filter_search_type = '';
                this.filter_region = '';
                axios.post('/admin/adverts').then(response => (this.adverts = response.data));
            }
        }
    }

</script>

<style scoped>
    .modal {
        padding-right: 0 !important;
    }

    .iframe-wrap iframe {
        width: 100%;
        height: 1320px;
    }

    @media (min-width: 376px) {
        .iframe-wrap iframe {
            height: 1300px;
        }
    }

    @media (min-width: 716px) {
        .iframe-wrap iframe {
            height: 1150px;
        }
    }

    @media (min-width: 992px) {
        .iframe-wrap iframe {
            height: 100%;
        }
    }

    @media (max-width: 479px) {
        .modal-content .modal-body .form-group__custom {
            padding-left: 0;
            padding-right: 0;
        }

        .iframe-wrap {
            padding: 0;
        }
    }
</style>


