<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Объявление #{{ this.advert_id }}</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator">-</li>
                                    <li class="m-nav__item">
                                        <a href="/admin/adverts" class="m-nav__link">
                                            <span class="m-nav__link-text">Все обьявления</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div v-if="successful" class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <strong>Спасибо!</strong> Вы успешно обновили статус.
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <!--begin::Portlet-->
                            <div class="m-content">
                                <div class="m-portlet">
                                    <div class="m-portlet__body">
                                        <ul class="nav nav-tabs  m-tabs-line" role="tablist">
                                            <li class="nav-item m-tabs__item">
                                                <a class="nav-link m-tabs__link active" >Общее</a>
                                            </li>
                                            <li class="nav-item m-tabs__item">
                                                <a class="nav-link m-tabs__link"  :href="'/admin/advertAdvertising-'+c_advert.id" >Реклама</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-12">
                                                        <form class="m-form m-form--fit m-form--label-align-right" ref="order" method="POST" @submit.prevent="create">
                                                            <input hidden name="advert_id" v-model="c_advert.id" />
                                                            <div class="m-portlet__body">
                                                                <div class="form-group m-form__group form-group__custom">
                                                                    <label>Регион</label>
                                                                    <input v-model="c_advert.region" name="region" required class="form-control m-input" type="text">
                                                                </div>
                                                                <div class="form-group m-form__group form-group__custom">
                                                                    <label>Район</label>
                                                                    <input v-model="c_advert.district" name="district" class="form-control m-input" type="text">
                                                                </div>
                                                                <div class="form-group m-form__group form-group__custom">
                                                                    <label>Город</label>
                                                                    <input v-model="c_advert.city" name="city" class="form-control m-input" type="text">
                                                                </div>
                                                                <div v-if="c_advert.customer" class="form-group m-form__group form-group__custom">
                                                                    <label>Собственник: </label>
                                                                    <a class="" target="_blank" :href="'https://uland.ua/customer/id='+c_advert.customer.id">{{ c_advert.customer.surname+' '+c_advert.customer.name }}</a>
                                                                    <p>
                                                                        <span  class="m-form__help" ><a href="#" class="m--font-danger" @click="unfastenOwner" >Открепить владельца.</a></span>
                                                                    </p>
                                                                </div>
                                                                <div v-if="c_advert.agent_customer" class="form-group m-form__group form-group__custom">
                                                                    <label>Агент: </label>
                                                                    <a class="" target="_blank" :href="'https://uland.ua/customer/id='+c_advert.agent_customer.id">{{ c_advert.agent_customer.surname+' '+c_advert.agent_customer.name }}</a>
                                                                    <p>
                                                                        <span  class="m-form__help" ><a href="#" class="m--font-danger" @click="unfastenAgent" >Открепить агента.</a></span>
                                                                    </p>
                                                                </div>

                                                                <div class="form-group m-form__group form-group__custom">
                                                                    <label><a target="_blank" :href="'https://uland.ua/advert/id='+c_advert.id">Обьявление на сайте ( полня информация )</a></label>
                                                                </div>
                                                                <div class="form-group m-form__group form-group__custom">
                                                                    <label>Статус</label>
                                                                    <select v-model="c_advert.search_status" name="search_status" required class="form-control m-input">
                                                                        <option  :key="'На модерації'" :label="'На модерації'" :value="'На модерації'"></option>
                                                                        <option  :key="'Активно'" :label="'Активно'" :value="'Активно'"></option>
                                                                        <option  :key="'Відключено'" :label="'Відключено'" :value="'Відключено'"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="m-portlet__foot m-portlet__foot--fit">
                                                                <div class="m-form__actions">
                                                                    <div class="row">
                                                                        <div class="col-10">
                                                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-lg-8 col-md-12 iframe-wrap">
                                                        <iframe :src="'https://uland.ua/advert/id='+this.advert_id" ref="iframe" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="m_tabs_1_3" role="tabpanel">

                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end::Portlet-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";
    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer', 'advert_id'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                c_advert: [],
                successful: '',
                heightHelper: null,
                resize: null
            };
		},
        created() {
            axios.post('/admin/advert/get', {
                'id': this.advert_id
            }).then(response => (this.c_advert = response.data));

        },
        methods: {
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            unfastenAgent: function () {
                if (confirm('Вы подтверждаете действие?')) {
                    axios.post('/admin/unfasten-agent',  {
                        'id': this.c_advert.id
                    })
                        .then(
                            response => (
                                axios.post('/admin/adverts').then(response => (this.adverts = response.data)),
                                    $( ".close" ).trigger( "click" ),
                                    this.successful = true,
                                    this.hideSuccessMessage()
                            )
                        )
                        .catch(
                            error => (
                                this.error = true,
                                    this.errors = error.response.data.errors
                            ));
                }
            },
            unfastenOwner: function () {
                if (confirm('Вы подтверждаете действие?')) {
                    axios.post('/admin/unfasten-owner',  {
                        'id': this.c_advert.id
                    })
                        .then(
                            response => (
                                axios.post('/admin/adverts').then(response => (this.adverts = response.data)),
                                    $( ".close" ).trigger( "click" ),
                                    this.successful = true,
                                    this.hideSuccessMessage()
                            )
                        )
                        .catch(
                            error => (
                                this.error = true,
                                    this.errors = error.response.data.errors
                            ));
                }
            },
            create: function (event) {
                axios.post('/admin/advert/create', new FormData(this.$refs.order))
                    .then(
                        response => (
                            axios.post('/admin/adverts').then(response => (this.adverts = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            updateIframeHeight: function () {
                const $this = this;
                const iframe = $this.$refs.iframe;

                clearTimeout($this.resizeTimer);
                $this.resizeTimer = setTimeout(() => {
                    iframe.style = `height: ${$this.heightHelper.scrollHeight - 250}px`;
                }, 200);
            },
            onResize: function () {
                window.addEventListener('resize', this.updateIframeHeight, false);
            },
            offResize: function () {
                window.removeEventListener('resize', this.updateIframeHeight);
            },
            initChanges: function () {
                const $this = this;
                const iframe = $this.$refs.iframe;
                const mq = window.matchMedia('(max-width: 991px)');
                let count = 0;

                iframe.onload = function () {
                    $this.heightHelper = iframe.contentWindow.document.querySelector('.height-helper');
                }

                $this.resize = mq.removeListener(init);
                $this.resize = mq.addListener(init);

                function init() {
                    if (!$this.heightHelper) return;

                    if (mq.matches) {
                        $this.heightHelper.style = `min-height: auto`;
                        iframe.style = `height: ${$this.heightHelper.scrollHeight - 250}px`;
                        $this.updateIframeHeight();
                        $this.onResize();
                    } else if (!mq.matches && iframe.getAttribute('style')) {
                        setTimeout(() => {
                            $this.heightHelper.style = `min-height: 100%`;
                            iframe.removeAttribute('style');
                        }, 400);
                        $this.offResize();
                    }
                }

                let checkIframe = setInterval(() => {
                    count++;
                    if (count > 50) {
                        clearInterval(checkIframe);
                    }

                    if ($this.heightHelper) {
                        clearInterval(checkIframe);
                        init();
                    }
                    init();
                }, 200);

            },
        }
    }

</script>

<style scoped>
    .modal {
        padding-right: 0 !important;
    }

	.iframe-wrap iframe {
		width: 100%;
		height: 1320px;
	}

	@media (min-width: 376px) {
		.iframe-wrap iframe {
			height: 1300px;
		}
	}

	@media (min-width: 716px) {
		.iframe-wrap iframe {
			height: 1150px;
		}
	}

	@media (min-width: 992px) {
		.iframe-wrap iframe {
			height: 100%;
		}
	}

	@media (max-width: 479px) {
		.modal-content .modal-body .form-group__custom {
			padding-left: 0;
			padding-right: 0;
		}

		.iframe-wrap {
			padding: 0;
		}
	}
</style>


