<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-article">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Новости</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div v-if="successful" class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            <strong>Спасибо!</strong> Вы успешно сохранили новость.
                        </div>
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a @click="unsetcArticle()" data-toggle="modal" data-target="#m_modal_4" href="#"
                                               class="btn btn-focus m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                                    <span>
                                                        <i class="la la-cart-plus"></i>
                                                        <span>Новая новость</span>
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">

                                <div style="overflow-x: auto;">
                                    <table class="table table-striped- table-baordered table-hover table-checkable dataTable dtr-inline"
                                           id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                        <thead>
                                        <tr role="row">
                                            <td>ID</td>
                                            <td>Название страницы</td>
                                            <td>SLUG</td>
                                            <td>Ссылка</td>
                                            <td>Дата создания</td>
                                            <td>Действия</td>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <td>ID</td>
                                            <td>Название страницы</td>
                                            <td>SLUG</td>
                                            <td>Ссылка</td>
                                            <td>Дата создания</td>
                                            <td>Действия</td>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="article in articles" role="row" class="odd">
                                            <td>{{ article.id }}</td>
                                            <td>{{ article.title }}</td>
                                            <td>{{ article.slug }}</td>
                                            <td><a :href="'https://uland.ua/'+article.slug" target="_blank">Ссылка на новость</a></td>
                                            <td>{{ article.created_at | moment("DD-MM-YYYY")}}</td>
                                            <td>
                                                <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(article)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Редактировать</a>
                                                                    <a  @click="handleDelete(article)" class="dropdown-item" href="#"><i class="la la-remove"></i> Удалить</a>
                                                                </div>
                                                            </span>
                                                <a @click="handleUpdate(article)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                   class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                   title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новость</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="order" method="POST" @submit.prevent="create" enctype="multipart/form-data">
                            <input hidden name="article_id" v-model="c_article.id" />
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Заголовок</label>
                                    <input required v-model="c_article.title" class="form-control m-input" name="title" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Краткое описание</label>
                                    <textarea v-model="c_article.small_description"  required name="small_description" class="form-control m-input" rows="5"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Описание</label>
                                    <!--<textarea id="tinymce_textarea" v-model="c_article.description" name="description"></textarea>-->
                                    <div class="">
                                        <div class="summernote" id="m_summernote_1"></div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Превью</label>
                                    <!--<textarea id="tinymce_textarea" v-model="c_article.description" name="description"></textarea>-->
                                    <input  :required="!c_article.preview" type="file" class="columns__50p-column" name="preview" ref="preview" >
                                </div>
                                <img style="width: 50%;" v-if="c_article.preview"  v-model="c_article.preview" :src="'/public/storage/Article/'+ c_article.preview"/>

                                <div class="form-group m-form__group">
                                    <label>Мета-тег Description</label>
                                    <textarea v-model="c_article.meta_description"  name="meta_description" class="form-control m-input" rows="5"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Мета-тег meta_keywords</label>
                                    <textarea v-model="c_article.meta_keywords"  name="meta_keywords" class="form-control m-input" rows="5"></textarea>
                                </div>

                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";
    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                articles: [],
                c_article: [],
                successful: '',
            };
        },
        created() {
            axios.post('/admin/articles').then(response => (this.articles = response.data));
        },
        methods: {
            unsetcArticle: function () {
                this.c_article = [];
            },
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            create: function (event) {
                var data = new FormData(this.$refs.order);
                data.append('description', $('.note-editable').html());
                axios.post('/admin/article/create', data)
                    .then(
                        response => (
                            axios.post('/admin/articles').then(response => (this.articles = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            handleUpdate: function (article) {
                this.c_article = Object.assign({}, article);
                $('.note-editable').html(this.c_article.description);
                $( ".close" ).trigger( "click" );
            },
            handleDelete: function (article) {
                var check = confirm("Вы уверены, что хотите удалить "+article.title+" ?");
                if (check == true) {
                    axios.post('/admin/article/delete/id='+article.id)
                        .then(
                            response => (
                                axios.post('/admin/articles').then(response => (this.articles = response.data)),
                                    this.seen = false,
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
        }
    }

</script>




