<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Пользователи</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Поиск по пользователям
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <form class="m-form m-form--fit m--margin-bottom-20">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Фамилия</label>
                                            <input v-model="filter_surname" class="form-control m-input" type="text">
                                        </div>
                                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                            <label>Телефон</label>
                                            <input v-model="filter_phone" class="form-control m-input" type="text">
                                        </div>
                                    </div>
                                    <div class="m-separator m-separator--md m-separator--dashed"></div>
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-lg-12">
                                            <button type="button"  class="btn btn-brand m-btn m-btn--icon" @click="filter()" >
                                                    <span>
                                                        <i class="la la-search"></i>
                                                        <span>Поиск</span>
                                                    </span>
                                            </button>
                                            <button type="button" class="btn btn-secondary m-btn m-btn--icon" @click="reset()" >
                                                    <span>
                                                        <i class="la la-close"></i>
                                                        <span>Сбросить</span>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div style="overflow-x: auto;">
                                 <table class="table table-striped- table-bc_customered table-hover dataTable dtr-inline"
                                                 >
                                                <thead>
                                                <tr role="row">
                                                    <td>ID</td>
                                                    <td>Тип пользователя</td>
                                                    <td>ФИО</td>
                                                    <td>Телефон</td>
                                                    <td>Дата регистрации</td>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <td>ID</td>
                                                    <td>Тип пользователя</td>
                                                    <td>ФИО</td>
                                                    <td>Телефон</td>
                                                    <td>Дата регистрации</td>
                                                    <th></th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr v-for="customer in customers" role="row" class="odd">
                                                    <td>{{ customer.id }}</td>
                                                    <td v-if="customer.role == 'Я собственник'">Собственник</td>
                                                    <td v-else>Агент</td>
                                                    <td>{{ customer.surname }} {{ customer.name }}</td>
                                                    <td>{{ customer.phone }}</td>
                                                    <td>{{ customer.created_at | moment("DD-MM-YYYY")}}</td>
                                                    <td>
                                                        <!--<span class="dropdown">-->
                                                                <!--<a href="#" class="btn m-btn m-btn&#45;&#45;hover-brand m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" data-toggle="dropdown" aria-expanded="true">-->
                                                                  <!--<i class="la la-ellipsis-h"></i>-->
                                                                <!--</a>-->
                                                                <!--<div class="dropdown-menu dropdown-menu-right">-->
                                                                    <!--<a @click="handleUpdate(customer)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Просмотреть всю информацию</a>-->
                                                                <!--</div>-->
                                                        <!--</span>-->
                                                        <a @click="handleUpdate(customer)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                           class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                           title="View">
                                                            <i class="la la-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Карточка пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="c_customer" method="POST" >
                            <div class="form-group m-form__group">
                                <label>Фамилия</label>
                                <input v-model="c_customer.surname" readonly class="form-control m-input">
                            </div>
                            <div class="form-group m-form__group">
                                <label>Имя</label>
                                <input v-model="c_customer.name" readonly class="form-control m-input" >
                            </div>
                            <div class="form-group m-form__group">
                                <label>Телефон</label>
                                <input v-model="c_customer.phone" readonly class="form-control m-input" >
                            </div>
                            <div class="form-group m-form__group">
                                <label>Email</label>
                                <input v-model="c_customer.email" readonly class="form-control m-input">
                                <span v-if="c_customer.email_is_active == 0" class="m-form__help">Почта не подтверждена.</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label>День рождение</label>
                                <input v-model="c_customer.birthday" readonly class="form-control m-input">
                            </div>
                            <div class="form-group m-form__group">
                                <label>Роль</label>
                                <input v-if="c_customer.role == 'Я собственник'" value="Собственник" readonly class="form-control m-input">
                                <input v-else value="Агент" readonly class="form-control m-input">
                            </div>
                            <div class="form-group m-form__group">
                                <label><a target="_blank" :href="'https://uland.ua/customer/id='+c_customer.id">Карточка юзера на сайте</a></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                customers: [],
                c_customer: [],
                filter_surname:'',
                filter_phone:'',
            };
        },
        created() {
            axios.post('/admin/customers').then(response => (this.customers = response.data));
            },
        methods: {
            handleUpdate: function (customer) {
                this.c_customer = Object.assign({}, customer);
                $( ".close" ).trigger( "click" );
            },
            filter: function () {
                axios.post('/admin/customer/filter', {
                    'surname': this.filter_surname,
                    'phone': this.filter_phone
                })
                    .then(
                        response => (
                            this.customers = response.data
                        )
                    );
            },
            reset: function () {
                this.filter_surname = '';
                this.filter_phone = '';
                axios.post('/admin/customers').then(response => (this.customers = response.data));
            },
        }
    }
</script>




