<template>
    <div class="m-grid m-grid--hor m-grid--root m-page h-100">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(public/admin/assets/app/media/img//bg/bg-1.jpg);">
            <div class="m-grid__item m-grid__item--fluid m-login__wrapper d-flex align-items-center">
                <div class="m-login__container">
                    <div class="m-login__signin">
                        <form class="m-login__form m-form" action="POST" @submit.prevent="login" ref="form">
                            <div class="form-group m-form__group has-danger">
                                <input required class="form-control m-input" type="text" placeholder="Email" name="email">
                                <div  v-if="errors && errors.email" class="form-control-feedback">{{ errors.email[0] }}</div>
                            </div>
                            <div class="form-group m-form__group has-danger">
                                <input required class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                                <div  v-if="errors && errors.password" class="form-control-feedback">{{ errors.password[0] }}</div>
                                <div  v-if="errors && errors.custom_error" class="form-control-feedback">{{ errors.custom_error[0] }}</div>
                            </div>
                            <div class="m-login__form-action">
                                <input id="m_login_signin_submit" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" value="Войти">
                            </div>
                        </form>
                    </div>
                    <div class="m-login__signup">
                        <div class="m-login__head">
                            <h3 class="m-login__title">Sign Up</h3>
                            <div class="m-login__desc">Enter your details to create your account:</div>
                        </div>
                        <form class="m-login__form m-form" action="" rel="form">
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="password" placeholder="Password" name="password">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
                            </div>
                            <div class="row form-group m-form__group m-login__form-sub">
                                <div class="col m--align-left">
                                    <label class="m-checkbox m-checkbox--light">
                                        <input type="checkbox" name="agree">I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>.
                                        <span></span>
                                    </label>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                errors: [],
                error: false,
            };
        },
        methods: {
            login: function(event){
                axios.post('/admin/login', new FormData(this.$refs.form))
                    .then(
                        response => (
                            window.location.href = response.data.url
                        )
                    )
                    .catch(
                        error => (
                        this.error = true,
                        this.errors = error.response.data.errors
                    ));
            },
        }
    }

</script>


