<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-payment">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Платежи</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__body">
                                <div style="overflow-x: auto;">
                                    <table class="table table-striped- table-bordered table-hover table-checkable dataTable dtr-inline"
                                           id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                        <thead>
                                        <tr role="row">
                                            <td>ID</td>
                                            <td>Ссылка обьявления</td>
                                            <td>Ссылка кто оплатил</td>
                                            <td>Тип покупки</td>
                                            <td>Сумма</td>
                                            <td>TOP</td>
                                            <td>RED</td>
                                            <td>Поднятие вверх 1 раз в день</td>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <td>ID</td>
                                            <td>Ссылка обьявления</td>
                                            <td>Ссылка кто оплатил</td>
                                            <td>Тип покупки</td>
                                            <td>Сумма</td>
                                            <td>TOP</td>
                                            <td>RED</td>
                                            <td>Поднятие вверх 1 раз в день</td>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="payment in payments" role="row" class="odd">
                                            <td>{{ payment.id }}</td>
                                            <td><a target="_blank" :href="'https://uland.ua/advert/id='+payment.advert_id">Просмотреть</a></td>
                                            <td><a target="_blank" :href="'https://uland.ua/customer/id='+payment.customer_id">Просмотреть</a></td>
                                            <td>{{ payment.type }}</td>
                                            <td>{{ payment.price }}</td>
                                            <td>{{ payment.top | moment("DD-MM-YYYY")}}</td>
                                            <td>{{ payment.red | moment("DD-MM-YYYY")}}</td>
                                            <td>{{ payment.once_top_day | moment("DD-MM-YYYY")}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";
    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                payments: [],
            };
        },
        created() {
            axios.post('/admin/payments').then(response => (this.payments = response.data));
        },
        methods: {
            handleUpdate: function (payment) {
                this.c_payment = Object.assign({}, payment);
                $('.note-editable').html(this.c_payment.description);
                $( ".close" ).trigger( "click" );
            }
        }
    }

</script>




