<template>
    <div>
        <div class="m-grid m-grid--hor m-grid--root m-support">
            <crm_header :customer="this.customer"></crm_header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i
                        class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                    <crm_menu></crm_menu>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title m-subheader__title--separator">
                                    Ображения в тех. под.</h3>
                                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                    <li class="m-nav__item m-nav__item--home">
                                        <a href="#" class="m-nav__link m-nav__link--icon">
                                            <i class="m-nav__link-icon la la-home"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-content">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__body">
                                <div style="overflow-x: auto;">
                                    <table class="table table-striped- table-bordered table-hover table-checkable dataTable dtr-inline"
                                           id="m_table_1" role="grid" aria-describedby="m_table_1_info" >
                                        <thead>
                                        <tr role="row">
                                            <td>ID</td>
                                            <td>ФИО</td>
                                            <td>Email</td>
                                            <td>тип обращения</td>
                                            <td>Дата создания</td>
                                            <td>Статус</td>
                                            <td>Действия</td>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <td>ID</td>
                                            <td>ФИО</td>
                                            <td>Email</td>
                                            <td>тип обращения</td>
                                            <td>Дата создания</td>
                                            <td>Статус</td>
                                            <td>Действия</td>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="support in supports" role="row" class="odd">
                                            <td>{{ support.id }}</td>
                                            <td>{{ support.name }}</td>
                                            <td>{{ support.email }}</td>
                                            <td>{{ support.type }}</td>
                                            <td>{{ support.created_at | moment("DD-MM-YYYY")}}</td>
                                            <td>
                                                <span v-if="support.status == 'Новое'" class="m-badge  m-badge--primary m-badge--wide">Новое</span>
                                                <span v-else-if="support.status == 'Обсуждается'" class="m-badge  m-badge--success m-badge--wide">Обсуждается</span>
                                                <span v-else class="m-badge  m-badge--warning  m-badge--wide">Закрыт</span>
                                            </td>
                                            <td>
                                                <span class="dropdown">
                                                                <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                                  <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a @click="handleUpdate(support)" data-toggle="modal" data-target="#m_modal_4" class="dropdown-item" href="#"><i class="la la-edit"></i> Редактировать</a>
                                                                    <a  @click="handleDelete(support)" class="dropdown-item" href="#"><i class="la la-remove"></i> Удалить</a>
                                                                </div>
                                                            </span>
                                                <a @click="handleUpdate(support)" data-toggle="modal" data-target="#m_modal_4" href="#"
                                                   class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                   title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Обращение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="m-form m-form--fit m-form--label-align-right" ref="order" method="POST" @submit.prevent="create" enctype="multipart/form-data">
                            <input hidden name="support_id" v-model="c_support.id" />

                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Тип обращения</label>
                                    <input readonly v-model="c_support.type" class="form-control m-input"  type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>ФИО</label>
                                    <input readonly v-model="c_support.name" class="form-control m-input"  type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Email</label>
                                    <input readonly v-model="c_support.email" class="form-control m-input"  type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Сообщение</label>
                                    <textarea v-model="c_support.description" readonly class="form-control m-input" rows="5"></textarea>
                                </div>
                                <div v-if="c_support.file" class="form-group m-form__group">
                                    <label>Файл</label>
                                    <a target="_blank" :href="'https://uland.ua/public/storage/File/'+c_support.file">Просмотреть файл</a>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>Статус</label>
                                    <select v-model="c_support.status" required name="status" class="form-control m-input">
                                        <option  :key="'Новое'" :label="'Новое'" :value="'Новое'"></option>
                                        <option  :key="'Обсуждается'" :label="'Обсуждается'" :value="'Обсуждается'"></option>
                                        <option  :key="'Закрыто'" :label="'Закрыто'" :value="'Закрыто'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import crm_header from './includes/Header.vue';
    import crm_menu from './layouts/Menu.vue';
    import VuejsDialog from "vuejs-dialog";
    const moment = require('moment');

    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: [ 'customer'],
        components: {
            crm_header,
            crm_menu
        },
        data() {
            return {
                supports: [],
                c_support: [],
                successful: '',
            };
        },
        created() {
            axios.post('/admin/supports').then(response => (this.supports = response.data));
        },
        methods: {
            unsetcsupport: function () {
                this.c_support = [];
            },
            hideSuccessMessage: function () {
                var _this = this;
                setTimeout(function () {
                    _this.successful = false;
                }, 2000)
            },
            create: function (event) {
                var data = new FormData(this.$refs.order);
                axios.post('/admin/support/create', data)
                    .then(
                        response => (
                            axios.post('/admin/supports').then(response => (this.supports = response.data)),
                                $( ".close" ).trigger( "click" ),
                                this.successful = true,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            handleUpdate: function (support) {
                this.c_support = Object.assign({}, support);
                $('.note-editable').html(this.c_support.description);
                $( ".close" ).trigger( "click" );
            },
            handleDelete: function (support) {
                var check = confirm("Вы уверены, что хотите удалить?");
                if (check == true) {
                    axios.post('/admin/support/delete/id='+support.id)
                        .then(
                            response => (
                                axios.post('/admin/supports').then(response => (this.supports = response.data)),
                                    this.seen = false,
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
        }
    }

</script>




