<template>
    <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200"
            m-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">

                <div class="m-stack__item m-brand  m-brand--skin-dark ">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">

                            <a href="javascript:;" id="m_aside_left_minimize_toggle"
                               class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                <span></span>
                            </a>


                            <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                               class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>


                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>


                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                    <!-- BEGIN: Horizontal Menu -->
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" >
                                <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                    <i class="m-menu__link-icon flaticon-user-ok"></i>
                                    <span class="m-menu__link-text">{{ customer.name }}</span>
                                    </a>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" >
                                <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                    <i class="m-menu__link-icon flaticon-email"></i>
                                    <span class="m-menu__link-text">{{ customer.email }}</span>
                                    </a>
                            </li>
                            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;rel" >-->
                                <!--<a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">-->
                                    <!--<span class="m-menu__link-text">Кол-во созданных заявок:</span>-->
                                    <!--<span class="m-menu__link-text">&nbsp{{ customer.customer_create }}</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;rel" >-->
                                <!--<a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">-->
                                    <!--<span class="m-menu__link-text">Кол-во обновлённых заявок:</span>-->
                                    <!--<span class="m-menu__link-text">&nbsp{{ customer.customer_update }}</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" >
                                <a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Выйти</a>
                            </li>
                            <form id="logout-form" action="https://uland.com.ua/logout" method="POST"
                                  style="display: none;">
                            </form>
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--last" >
                                <img alt=""
                                     src="https://uland.com.ua/public/admin/assets/app/media/img/logo.png">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
</template>


<script>
    export default {
        props: [ 'customer'],
        created() {
        },
    }

</script>




