// Loader ---------------------
.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	pointer-events: none;
	transition: all .2s linear;
	opacity: 0;
	background-color: rgba(255, 255, 255, .9);

	&__item {
		border: 5px solid $colorTurquoise;
		border-top: 5px solid $colorOrange;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		animation: spin 1.5s linear infinite;
	}

	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// Button ---------------------
.btn {
	display: inline-block;
	text-align: center;
	background-color: $colorOrange;
	padding: 13px 40px 11px;
	border: none;
	outline: none;
	border-radius: 25px;
	color: #000000;
	font-size: 11px;
	font-family: 'Circe', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .03em;
	cursor: pointer;
	transition: all .2s ease-out;

	&--def {
		font-size: 13px;
	}

	&--100 {
		width: 100%;
	}

	&--ml-20 {
		margin-left: 20px;
	}

	&--loadMore {
		background-color: #fff;
		display: inline-flex;
		align-items: center;
		padding: 10px 20px;
		border: 1px solid $colorOrange;

		&:hover {
			box-shadow: 0 7px 20px 0 rgba(255, 192, 0, .37);
		}
	}

	&:hover {
		box-shadow: 0 7px 20px 0 rgba(255, 192, 0, .37);
	}

	&--custom {
		background-color: transparent;
		border: 1px solid $colorOrange;

		&:hover {
			background-color: $colorOrange;
			box-shadow: none;
		}
	}

	&--activate {
		background-color: transparent;
		border: 1px solid $colorOrange;
		padding: 10px 20px 8px;
		min-width: 190px;

		&:hover {
			background-color: $colorOrange;
			box-shadow: none;
		}
	}

	&--deactivate {
		background-color: transparent;
		border: 1px solid $colorRed;
		padding: 10px 20px 8px;
		min-width: 190px;

		&:hover {
			background-color: $colorRed;
			box-shadow: none;
		}
	}

	&--publicity {
		background-color: $colorTurquoise;
		border: 1px solid $colorTurquoise;
		color: #fff;
		padding: 10px 20px 8px;
		min-width: 190px;

		&:hover {
			box-shadow: none;
		}
	}

	&--disable {
		pointer-events: none;
		background-color: $colorGrayLight;
		border: 1px solid $colorGrayLight;
		color: #BABABA;
		padding: 10px 20px 8px;
		min-width: 190px;

		&:hover {
			color: #BABABA;
			box-shadow: none;
		}
	}

	&--show-adverts {
		display: none;
		margin-top: 10px;
		text-align: center;

		&.active {
			display: inline-block;
		}
	}

	&--same {
		min-width: 200px;
	}

	&--loading {
		pointer-events: none;
	}

	&__icon {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: $colorOrange;
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 15px;
		}
	}
}

@keyframes m-loader-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(720deg);
	}
}

.js-loadMoreWrap {

	&.load {

		.btn__icon {
			animation: m-loader-rotate 1s linear;
		}
	}

	&.preload {
		pointer-events: none;

		.btn {
			padding: 10px;
		}

		.btn__icon {
			margin-right: 0;
			animation: m-loader-rotate 1s linear infinite;
		}

		p {
			display: none;
		}
	}
}

.btn-wrap {
	text-align: center;

	&--mtMedium {
		margin-top: 35px;
	}
}

.btnSend {
	background-color: rgba(149, 150, 164, .23);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		margin-left: 1px;
	}
}

.formCustom {
	position: relative;

	.btnSend {
		position: absolute;
		bottom: 14px;
		right: 10px;

		img {
			width: 15px;
		}
	}

	span .error {
		top: 100%;
	}
}

// Swiper Control
.slider-control {
	display: flex;
	align-items: center;

	.next,
	.prev {
		cursor: pointer;
		outline: none;
		flex-shrink: 0;
		width: 30px;
		transition: all .2s linear;

		&.swiper-button-disabled {
			opacity: .35;
			pointer-events: none;
		}
	}

	&--hover {

		.next {

			&:hover {
				transform: translateX(5px);
			}
		}

		.prev {

			&:hover {
				transform: translateX(-5px);
			}

			&.revert {

				&:hover {
					transform: translateX(-5px) rotate(180deg);
				}
			}
		}
	}

	img+img {
		margin-left: 15px;
	}

	&--mt {
		margin-top: 15px;
	}
}

// Scroll
body.no-scrolling {
	overflow: hidden;
}

// TextArea custom
.custom-textarea {
	background-color: #fff;
	padding: 10px 15px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	height: 75px;
	width: 100%;
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Circe', sans-serif;
	min-height: 40px;

	&::placeholder {
		opacity: 0.45;
	}

	&--mt {
		margin-top: 20px;
	}
}

// captcha
.g-recaptcha {
	margin-top: 25px;
}

// Come Back
.come-back {
	height: 55px;
	padding: 10px 0;
	display: flex;
	align-items: center;

	.text {
		display: flex;
	}

	a {
		display: inline-flex;
		position: relative;
		transition: all .3s;

		.hover-on {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		.hover-on,
		.hover-off {
			transition: all .3s;
		}

		&:hover {

			.hover-on {
				opacity: 1;
			}

			.hover-off {
				opacity: 0;
			}
		}
	}
}

// fresh-info
.fresh-info {
	display: flex;

	&__card {
		font-weight: 400;

		&+.fresh-info__card {
			margin-left: 65px;
		}
	}

	&__value {
		color: $colorBlue;
		font-size: 20px;
		letter-spacing: .03em;
	}

	&--mt {
		margin-top: 50px;
	}

	&--advert {
		white-space: nowrap;
		margin-left: -50px;
		margin-top: -30px;

		.fresh-info__card {
			margin-left: 50px;
			margin-top: 30px;

			&+.fresh-info__card {
				margin-left: 50px;
			}
		}

		.fresh-info__value {
			font-size: 23px;
		}
	}
}

// helper
.helper {

	&--mt {
		margin-top: 30px;
	}

	&--mtBig {
		margin-top: 40px;
	}

	&--flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&--flexStart {
		justify-content: flex-start;
	}

	&--center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// social nav
.social-nav {
	display: flex;
	align-items: center;
	margin-left: 10px;

	li {
		flex-shrink: 0;
		opacity: .3;
		transition: all .3s ease-out;

		img {
			width: 35px;
		}

		a {
			display: flex;
			align-items: center;
		}

		&+li {
			margin-left: 10px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

// default set
.setNumber {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__number {
		color: $colorBlue;
		font-size: 20px;
		letter-spacing: .03em;
	}

	a {
		font-weight: bold;
		color: $colorTurquoise;
		font-size: 13px;
		letter-spacing: .03em;
		margin-left: 20px;
	}
}

// Logo
.logo {
	width: 135px;
	display: flex;
	align-items: center;

	img {
		width: 100%;
	}
}

// similar-listings
.similar-listings {
	margin-top: 100px;
}

// Title
.title {
	font-family: 'FuturaMediumC', sans-serif;
	font-size: 40px;

	&--sub {
		font-size: 30px;
	}

	&--mini {
		font-size: 20px;
	}

	&--center {
		text-align: center;
	}

	h1 {
		font-size: inherit;
		font-weight: inherit;
	}

	&--mtMin {
		margin-top: 10px;
	}
}

.signature {
	position: relative;
	padding-left: 40px;
	font-family: 'Circe', sans-serif;
	font-size: 14px;

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 1px;
		background-color: #000000;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&--mt {
		margin-top: 5px;
	}

	&--mtBig {
		margin-top: 20px;
	}

	&--ml {
		margin-left: 25px;
	}
}

//.someText {
//    text-transform: uppercase;
//    color: $colorBlue;
//    font-weight: bold;
//    letter-spacing: .03em;
//    font-size: 12px;
//    font-family: 'Circe', sans-serif;
//
//    &--min {
//        font-size: 10px;
//    }
//
//    &--medium {
//        font-size: 11px;
//    }
//
//    &--turquoise {
//        color: $colorTurquoise;
//
//        &:hover {
//            color: $colorTurquoise;
//        }
//    }
//
//    &--mlAuto {
//        margin-left: auto;
//    }
//
//    &--blue {
//        color: $colorBlue;
//    }
//}

.mini-title {
	font-size: 13px;
	font-family: 'Proxima Nova', sans-serif;
	font-style: italic;
	letter-spacing: .03em;
	color: $colorBlue;

	&--mt {
		margin-top: 35px;
	}
}

// viewers
.viewers {
	display: flex;
	align-items: center;

	&__value {
		margin-left: 5px;
	}

	&__icon {
		flex-shrink: 0;
		display: flex;
		align-items: center;

		img {
			width: 15px;
		}
	}
}

// Favorites Button
.favoritesButton {
	display: flex;
	align-items: center;

	&--ml {
		margin-left: 15px;
	}

	img {
		width: 20px;
		cursor: pointer;
	}
}

// text
.text {
	letter-spacing: .03em;

	a {
		color: $colorTurquoise;
		transition: all .2s ease-out;

		&:hover {
			color: $colorYellow;
		}
	}

	&--ls {
		letter-spacing: .1em;
	}

	&--center {
		text-align: center;
	}

	&--mlAuto {
		margin-left: auto;
	}

	&--mtMedium {
		margin-top: 35px;
	}

	&--mtBig {
		margin-top: 45px;
	}

	&--mtMin {
		margin-top: 25px;
	}

	&--mtMini {
		margin-top: 15px;
	}

	&--mt-5 {
		margin-top: 5px;
	}

	&--mini-10 {
		font-size: 10px;
	}

	&--mini {
		font-size: 11px;
	}

	&--miniPlus {
		font-size: 12px;
	}

	&--gray {
		color: $colorGray;
		font-size: 13px;
	}

	&--min {
		font-size: 13px;
	}

	&--normal {
		font-size: 14px;
		font-weight: 300;
	}

	&--medium {
		font-size: 15px;
	}

	&--big {
		font-size: 20px;
		line-height: 1em;
	}

	&--100 {
		width: 100%;
	}

	&--black {
		color: #000000;
		font-size: 16px;
	}

	&--blackColor {
		color: #000000;
	}

	&--grayColor {
		color: $colorGray;
	}

	&--red {
		color: #E31F1F;
	}

	&--red-second {
		color: $colorRed;
	}

	&--blue {
		color: $colorBlue;
	}

	&--turquoise {
		color: $colorTurquoise;

		&:hover {
			color: $colorTurquoise;
		}
	}

	&--bold {
		font-weight: bold;
	}

	&--light {
		font-weight: 300;
	}

	&--ttu {
		text-transform: uppercase;
	}

	&--op {
		opacity: .8;
	}

	&--no-wrap {
		white-space: nowrap;
	}

	&--break-word {
		word-break: break-all;
	}

	&--line-height-1 {
		line-height: 1em;
	}

	&__link {
		font-size: 13px;
		color: $colorTurquoise;
		font-weight: bold;
		transition: all .3s;

		&--arrow {
			span {
				margin-left: 10px;
			}
		}

		&--arrowRight {
			span {
				margin-right: 10px;
			}
		}

		&--arrow,
		&--arrowRight {
			display: flex;
			align-items: center;

			img {
				width: 22px;
			}
		}

		&--normal {
			font-size: 14px;
		}

		&--mtBig {
			margin-top: 45px;
		}

		&:hover {
			color: $colorYellow;
		}

		&--hover {
			display: inline-flex;
			position: relative;
			transition: all .3s;

			.hover-on {
				opacity: 0;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			.hover-on,
			.hover-off {
				transition: all .3s;
			}

			&:hover {

				.hover-on {
					opacity: 1;
				}

				.hover-off {
					opacity: 0;
				}
			}
		}
	}
}

.upload-photos {
	width: calc(100% + 20px);
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px -20px;

	&__exit {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		background-color: #fff;
		cursor: pointer;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		transition: all .2s ease-out;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 13px;
		}
	}

	&__loader {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border-top: 2px solid $colorOrange;
		border-right: 2px solid $colorOrange;
		opacity: 0;
		pointer-events: none;
		z-index: -1;
	}

	&__card {
		height: 93px;
		width: calc((100% / 5) - 21px);
		border: 2px dashed $colorOrange;
		position: relative;
		cursor: pointer;
		padding: 2px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 10px;

		&.load {

			.upload-photos__plus {
				display: none;
			}

			.upload-photos__loader {
				opacity: 1;
				z-index: 2;
				animation: rotateLoader 1s linear infinite;
			}
		}

		&.active {
			border: none;
			cursor: auto;
			pointer-events: none;

			.upload-photos__plus {
				display: none;
			}

			.upload-photos__exit {
				opacity: 1;
				z-index: 2;
				pointer-events: visible;
			}

			.upload-photos__loader {
				opacity: 0;
				pointer-events: none;
				z-index: -1;
			}
		}
	}

	&__file {
		opacity: 0;
		pointer-events: none;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__plus {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
	}
}

@keyframes rotateLoader {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// DropDown
.dropdown {
	position: absolute;
	top: calc(100% - 5px);
	right: 0;
	background-color: #FFFFFF;
	min-width: 170px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
	border-radius: 5px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-out;
	white-space: nowrap;
	z-index: 999;

	a {
		font-size: 13px;
		letter-spacing: .03em;
		padding: 10px 20px;
		display: block;
		transition: all .2s ease-out;

		&:hover {
			background-color: $colorGrayLight;
		}
	}

	&--dark {
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
		background-color: #35383F;
		right: auto;
		left: 50%;
		top: calc(100% + 10px);
		transform: translateX(-50%);
		overflow: visible;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -8px;
			left: 50%;
			border: 5px solid transparent;
			border-top: 5px solid #35383F;
			border-right: 5px solid #35383F;
			transform: rotate(-45deg) translateX(-50%);
		}

		a {
			font-size: 12px;
			color: rgba(255, 255, 255, .37);
			padding: 8px 10px;

			&:hover {
				background-color: transparent;
				color: #FFFFFF;
			}
		}

		li {

			&+li {
				border-top: 1px solid rgba(255, 255, 255, .14);
			}
		}
	}
}

.dropdown-main {
	position: relative;

	&.active {

		.dropdown {
			pointer-events: visible;
			opacity: 1;
		}

		.arrow {
			transform: rotate(180deg);
		}
	}
}

// Form
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input-group {
	position: relative;

	label {
		position: absolute;
		left: 0;
		bottom: 5px;
		color: $colorGray;
		letter-spacing: .03em;
		pointer-events: none;
		transition: all .2s ease-out;
		white-space: nowrap;
	}

	&--mt {
		margin-top: 30px;
	}

	&--100 {
		width: 100%;
	}

	&--mtBig {
		margin-top: 40px;
	}

	input {
		width: 100%;
		font-family: 'Circe', sans-serif;
		font-weight: 400;
		color: #000;
		font-size: 16px;
		letter-spacing: .03em;
		background-color: transparent;
		padding: 5px 0;
		border-bottom: 1px solid rgba(149, 150, 164, .36);
		transition: all .2s ease-out;
		z-index: 1;
		position: static;
		opacity: 1;
		height: auto;
		pointer-events: visible;

		&.error {
			border-bottom: 1px solid $colorValidate !important;
		}
	}

	textarea {
		width: 100%;
		font-family: 'Circe', sans-serif;
		font-weight: 400;
		color: #000;
		font-size: 16px;
		letter-spacing: .03em;
		background-color: transparent;
		padding: 0 0 5px 0;
		border-bottom: 1px solid rgba(149, 150, 164, .36);
		transition: all .2s ease-out;
		height: 29px;

		&::placeholder {
			color: $colorGray;
			font-size: 14px;
		}

		&.error {
			border-bottom-color: $colorRed;
		}
	}

	&--mini {
		padding-left: 25px;
		display: none;
		margin-top: 10px;

		textarea {
			padding: 0 0 2px 0;
			height: 23px;
			font-size: 14px;

			&::placeholder {
				font-size: 13px;
				letter-spacing: .03em;
			}
		}

		span .error {
			top: calc(100% - 5px);
			left: 25px;
			font-size: 11px;
		}

		&.active-textarea {
			display: block;
		}
	}

	.mask-phone {
		opacity: 0;
		transition: all .2s ease-out;
		pointer-events: none;
		position: absolute;
		left: 0;
		top: 7px;
	}

	.success-data {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&.focus,
	&.val {
		label {
			bottom: 100%;
			font-weight: 300;
			opacity: .7;
		}

		input {
			border-bottom: 1px solid #000;
		}
	}

	&--mask {

		&.focus,
		&.val {

			.mask-phone {
				opacity: 1;
				pointer-events: visible;
			}

			input {
				padding-left: 40px;
			}
		}
	}

	&--select {

		&.js-disabled {
			opacity: .6;
			pointer-events: none;
		}

		&.val,
		&.focus {
			label {
				bottom: 5px;
				font-weight: 400;
				opacity: 1;
			}
		}

		&.change {
			label {
				bottom: 100%;
				font-weight: 300;
				opacity: .7;
			}
		}

		.selectric-hide-select {
			position: absolute;
			overflow: visible;
			top: 100%;
			width: 100%;
			left: 0;
			height: auto;

			select {
				opacity: 0;
				pointer-events: none;
				left: 0;
			}
		}

		.selectric-scroll ul li:first-child {
			display: none;
		}

		.selectric-below {

			.selectric {
				border-bottom: 1px solid #000;
			}
		}

		.selectric {
			height: 34px;
			width: 100%;
			border-bottom: 1px solid rgba(149, 150, 164, 0.36);
			padding: 5px 0;
			background-color: transparent;

			&.change {
				height: auto;
			}

			.label {
				font-size: 16px;
			}

			.button {
				height: 34px;
				width: 16px;
			}
		}
	}

	&--select-opted {

		.selectric-scroll ul li:first-child {
			display: block;
		}

		label {
			bottom: 100%;
			font-weight: 300;
			opacity: .7;
		}

		&.focus {
			label {
				bottom: 100%;
				font-weight: 300;
				opacity: .7;
			}
		}
	}

	&--select-min {

		.selectric-scroll ul li:first-child {
			display: block;
		}

		.selectric {
			height: 30px;
			width: 150px;

			.label {
				font-size: 14px;
			}
		}
	}

	&__link {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		color: #47C4C4;
		font-size: 13px;
		letter-spacing: 0.03em;
		transition: all .3s;

		&:hover,
		&:focus {
			color: $colorYellow;
		}
	}

	&--price {
		margin-left: 20px;
		flex-shrink: 0;
		width: 70px;

		.selectric .label {
			color: $colorGray;
		}

		.selectric-below .label {
			color: #000;
		}

		.selectric-scroll ul li:first-child {
			display: block;
		}

		.selectric-scroll ul li {
			padding: 10px;
			text-align: center;
		}
	}

	&.disabled-input {

		input {
			color: $colorGray;
			border-bottom: 1px solid $colorGray;
		}
	}
}

.js-timing-step-2,
.js-timing-step-3 {
	display: none;
}

.js-selectCurrent-2 {
	display: none;
}

.form-send {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.btn {
		margin-left: 15px;
	}

	&__text {
		font-size: 13px;
		letter-spacing: 0.03em;

		a, span {
			color: $colorTurquoise;
			cursor: pointer;
			transition: all .3s;

			&:hover {
				color: $colorYellow;
			}
		}
	}

	&--mt {
		margin-top: 30px;
	}

	&--center {
		justify-content: center;
	}

	&--mtBig {
		margin-top: 40px;
	}

	&--end {
		justify-content: flex-end;
	}

	&--start {
		align-items: flex-start;
	}

	&--100 {
		width: 100%;
	}

	&__timing {
		align-items: center;
		display: flex;
	}

	&__second {
		margin-left: 20px;
		font-size: 17px;
		letter-spacing: .03em;
	}
}

// Validate
span {

	.error,
	.error-custom {
		position: absolute;
		top: calc(100% + 5px);
		font-size: 12px;
		color: $colorRed;
		letter-spacing: .03em;
		left: 0;
	}

	.error-custom {
		display: none;

		&.error-file {
			display: block;
		}
	}

	#ga-error,
	#price-error {
		top: calc(100% - 1px);
		font-size: 11px;
	}
}

// Home -------------------------
// Callboard
.callboard {
	padding: 80px 0 90px;
	min-height: 790px;
	height: calc(100vh - 115px);

	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__search {
		flex-shrink: 0;
		width: 47%;
		min-width: 600px;

		.title {
			margin-top: 35px;
		}
	}

	&__select {
		margin-top: 30px;

		.radio {
			display: inline-block;
		}
	}

	&__description {
		margin-top: 20px;
		color: $colorGray;
		font-size: 15px;
		line-height: 1.8em;
		letter-spacing: .06em;
	}

	&__photo {
		width: 45%;
	}

	&__input {
		background-color: #FFFFFF;
		box-shadow: 0 8px 24px rgba(97, 101, 251, 0.13);
		border-radius: 25px;
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 8px 20px;

		.selectric-wrapper {
			flex-shrink: 0;
		}
	}

	&__data {
		display: flex;
		margin-top: 20px;

		.btn {
			flex-shrink: 0;
			margin-left: 15px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 50px;

			span {
				margin-top: 2px;
			}
		}
	}

	&__region {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		position: relative;

		img {
			flex-shrink: 0;
			width: 35px;
		}

		input {
			width: 100%;
			margin-left: 15px;
			padding: 0;
			font-family: 'Circe', sans-serif;
			font-weight: 400;
			color: #000;
			font-size: 15px;
			letter-spacing: .03em;

			&::placeholder {
				color: $colorGray;
				opacity: .5;
			}

			&+span .error {
				top: calc(100% + 15px);
			}
		}
	}
}

// Top adverts
.top-adverts {
	padding-bottom: 85px;

	&__wrap {

		.ads {
			text-align: center;

			&__wrap--mtBig {
				text-align: left;
				margin-top: 35px;
			}
		}
	}

	&__wrap-title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__title {
		font-weight: 400;
		margin-right: 40px;
		line-height: 1em;
		margin-bottom: 10px;
	}

	&__link {
		line-height: 1em;
		font-size: 14px;
	}
}

// News Section
.news-section {
	padding: 70px 0 80px;

	&__swiper {
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-top: 55px;
	}

	&__date {
		opacity: .8;
		color: $colorGray;
		font-size: 13px;
	}

	&__title {
		font-size: 20px;
		margin-top: 15px;
		display: inline-block;
		transition: all .2s ease-out;

		&:hover {
			color: $colorTurquoise;
		}
	}

	&__content {
		line-height: 1.4em;
		letter-spacing: .03em;
		margin-top: 20px;
		font-weight: 300;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 15px -30px -40px;
	}

	&__card {
		width: calc((100% / 4) - 60px);
		margin: 40px 30px;
	}

	&--paddingCustom {
		padding: 50px 0 135px;
	}
}

// Images
.revert {
	transform: rotate(180deg);
}

// Registration ------------------
.registration {
	background-color: #F8F8F8;
	padding: 135px 0 150px;

	&__form {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;

		&--big {
			max-width: 860px;
		}
	}

	&__photo {
		position: relative;
		height: 55px;
		width: 55px;
		border: 2px solid $colorOrange;
		border-radius: 50%;
		margin-right: 15px;
		flex-shrink: 0;
		transition: all .2s ease-out;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .2s ease-out;
		}
	}

	&__photo-wrap {
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;

		input {
			position: absolute;
			opacity: 0;
			pointer-events: none;
			z-index: -1;
		}

		.upload-change {
			display: none;
		}

		&.upload-success {

			.registration__photo {
				border: none;
			}

			.upload-start {
				display: none;
			}

			.upload-change {
				display: block;
			}
		}
	}
}

#upload-demo {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.register-step-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 25px;

	.input-group {
		width: 47%;
		margin-top: 40px;
	}
}

// Profile
.profile {
	padding: 50px 0 235px;

	&--noPadding {
		padding: 0;
		flex-shrink: 0;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__main {
		width: 75%;
	}
}

.personCard {
	width: 20%;
	box-shadow: 0 9px 38px rgba(0, 0, 0, 0.12);
	background-color: #FFFFFF;
	padding: 10px 15px 25px;
	min-width: 300px;
	margin-left: 70px;
	flex-shrink: 0;
	border-radius: 10px;

	&__infoError {
		position: relative;

		span .error {
			left: 21px;
			font-size: 12px;
			display: none;
			top: 100%;
		}

		&.active {
			margin-bottom: 35px;

			span .error {
				display: block;
			}
		}
	}

	&__btn {
		margin-top: 15px;

		.btn {

			&+.btn {
				margin-top: 8px;
			}
		}
	}

	&__data {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__photo {
		display: flex;
		flex-shrink: 0;
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}

	&__grade {
		display: flex;
		margin-left: 5%;
		width: 100%;

		img {
			margin-left: 4px;
		}
	}

	&__gradeCard {

		&+.personCard__gradeCard {
			margin-left: 15px;
		}
	}

	&__informWrap {
		margin-top: 15px;
	}

	&__name {
		font-size: 18px;
		transition: all .2s ease-out;
		display: inline-block;

		&:hover {
			color: $colorTurquoise;
		}
	}

	&__info {
		margin-top: 10px;

		li {
			display: flex;
			align-items: center;

			&+li {
				margin-top: 10px;
			}

			&.js-show-contacts {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
				transition: all .2s ease-out;
				z-index: 3;
				cursor: pointer;
			}
		}

		&.js-contacts {
			position: relative;

			&::before {
				content: '';
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #fff;
				position: absolute;
				z-index: 2;
				transition: all .2s ease-out;
			}

			&.active {

				&::before,
				.js-show-contacts {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}

	&__icon {
		width: 18px;
		display: flex;
		margin-right: 5px;
		flex-direction: column;

		img {
			height: 18px;
			width: 18px;
		}
	}

	&--customView {
		padding: 20px 20px 25px;
		box-shadow: 0 9px 38px rgba(0, 0, 0, 0);
		border: 1px solid $colorGrayLight;
		width: calc((100% / 4) - 20px);
		margin: 10px;
		transition: all .4s ease-out;
		min-width: auto;

		&:hover {
			box-shadow: 0 9px 38px rgba(0, 0, 0, .12);
			border-color: transparent;
		}

		.personCard__photo {
			width: 70px;
			height: 70px;
		}

		.personCard__data {
			margin-top: 0;
		}

		.personCard__grade {
			max-width: 230px;
		}
	}

	&__fullInfo {
		flex-grow: 1;

		.personCard__grade {
			width: auto;
		}

		.personCard__otherData {
			flex-grow: 1;
		}
	}
}

.user-plus {
	width: 20px;
}

.upload-success {

	.user-plus {
		width: auto;
	}
}

// Reviews
.reviews {

	&__wrap {
		margin-top: 25px;
		border-top: 1px solid $colorGrayLight;
		border-bottom: 1px solid $colorGrayLight;
	}

	&__card {
		padding: 25px 20px 30px 5px;

		&+.reviews__card {
			border-top: 1px solid $colorGrayLight;
		}
	}

	&__userPhoto {
		flex-shrink: 0;
		position: relative;
		width: 45px;
		height: 45px;
		display: flex;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding-left: 10px;
	}

	&__content {
		padding-left: 55px;
		margin-top: 15px;
	}

	&__text {
		font-weight: 300;
		letter-spacing: .03em;
		padding: 11px 15px 12px;
		background-color: $colorBgGray;
		border-radius: 5px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -5px;
			left: 23px;
			border: 5px solid transparent;
			border-top: 5px solid $colorBgGray;
			border-right: 5px solid $colorBgGray;
			transform: rotate(-45deg);
		}

		&.bad {
			background-color: $colorRedLight;

			&::before {
				border-top-color: $colorRedLight;
				border-right-color: $colorRedLight;
			}
		}
	}

	&__data {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.text {
			cursor: pointer;
		}

		&.proof {
			justify-content: space-between;
		}
	}

	&__proof {
		display: none;
	}

	&__proofWrap {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		overflow: hidden;
		margin: 5px -5px -5px;
	}

	&__proofCard {
		display: flex;
		margin: 5px;

		img {
			height: 60px;
		}
	}
}

// Star Rating
.star {
	height: 16px;
	width: 75px;
	background: url("../img/starzero.png") repeat-x;
	position: relative;
	margin-left: 10px;

	&__done {
		width: 20%;
		background: url("../img/star.png") repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
	}
}

// Asd
.ads {
	display: block;

	&__wrap {
		margin-top: 25px;

		&--mtBig {
			margin-top: 45px;
		}
	}

	&__wrap-similar {
		margin-top: 30px;
	}

	&__allotment {
		display: none;
	}

	&__card {
		display: flex;
		padding: 20px 35px;
		position: relative;
	}

	&__type {
		flex-shrink: 0;
		margin-right: 20px;
		flex-basis: 55px;
	}

	&__section {
		margin: 15px 10px 0;

		&--star {
			display: flex;
			align-items: center;
			height: 43px;
			pointer-events: visible;
			margin-top: 0;
		}

		&--menu {
			pointer-events: visible;
			margin-right: -10px;
		}

		&--extra {
			min-width: 131px;
		}

		&--cadNum {
			flex-wrap: wrap;
		}
	}

	&__cardWrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-right: 40px;
		margin: -15px -10px 0;
		position: relative;
	}

	&__addressInfoWrap {
		max-width: 560px;
		width: 100%;
		flex-basis: 500px;
		flex-grow: 1;
	}

	&__addressInfo {
		width: 100%;
		display: flex;

		.ads__section {
			width: 50%;
		}
	}

	&__priceInfo {
		display: flex;
		flex-basis: 320px;
		flex-grow: 1;

		.ads__section {
			width: calc((100% / 3) - 1px);
		}
	}

	&__otherInfo {
		max-width: 560px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-basis: 500px;

		.ads__section {
			width: 50%;

			.text {
				white-space: nowrap;
			}
		}
	}

	&__clearSection {
		display: flex;
		flex-basis: 320px;
		flex-grow: 1;
		max-width: 420px;
	}

	&__dot {
		width: 4px;
		height: 4px;
		background-color: #000;
		border-radius: 50%;
		transition: all .2s ease-out;

		&+.ads__dot {
			margin-left: 3px;
		}
	}

	&__dots {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 1px solid $colorOrange;
		justify-content: center;
		transition: background-color .2s;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: $colorOrange;
		}

		&.dropdown-disable {
			pointer-events: none;
			border: 1px solid $colorGrayLight;

			.ads__dot {
				background-color: #bababa;
			}
		}
	}

	&__menu {
		margin-left: 0;

		&.active {

			.ads__dots {
				background-color: $colorOrange;
			}
		}
	}

	&__info {
		display: none;
	}

	&__cardContent {
		position: relative;
		transition: all .2s ease-out;
		border-top: 1px solid $colorGrayLight;
		border-bottom: 1px solid $colorGrayLight;
		margin: -1px 0;

		#ads__period {
			display: none;
		}

		&.allotment {
			background-color: rgba(255, 128, 96, .05);
		}

		&.active {
			margin: 15px 0;

			.ads__allotment {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: 0;
				width: 25px;
				background-color: #FF552E;

				p {
					transform: rotate(-90deg);
					color: #fff;
					font-weight: 800;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: .08em;
					margin-left: 3px;
				}
			}
		}

		&.assigned,
		&.adv-period {

			.ads__card {
				padding: 20px 35px 50px;
			}

			.ads__info {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 0 35px;
				position: absolute;
				left: 0;
				bottom: 15px;
				pointer-events: none;
			}

			.ads__otherFunction {
				bottom: 55px;
			}
		}

		&.adv-period {

			#ads__period {
				display: block;
				cursor: pointer;
				pointer-events: visible;
				transition: all .2s ease-out;

				&:hover {
					color: $colorYellow;
				}
			}

			#ads__addAgent {
				opacity: 0;
			}

			&.assigned {

				#ads__addAgent {
					opacity: 1;
				}
			}
		}

		&:last-child {
			border-bottom: 1px solid $colorGrayLight;
		}

		&:hover {
			box-shadow: 0 0 35px 13px rgba(0, 0, 0, .11);
			border-top-color: transparent;
			border-bottom-color: transparent;
		}

		&.js-remove {
			transition: all .7s ease-out;
			opacity: 0;
			transform: translateX(-100%);
		}
	}

	&__otherFunction {
		position: absolute;
		top: 20px;
		right: 35px;
		bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		pointer-events: none;
	}

	&--long {

		.ads__card {
			padding: 20px 45px;
		}

		.ads__priceInfo {
			max-width: none;
			flex-basis: auto;
			justify-content: space-around;

			.ads__section {
				width: auto;
				min-width: 87px;

				&--extra {
					min-width: 145px;
				}
			}
		}

		.ads__section {

			&--star {
				position: absolute;
				right: 45px;
				top: 5px;
				margin-top: 15px;
				height: 39px;
			}

			&--extra {
				align-items: center;
			}

			&--date {
				min-width: 113px;
			}
		}

		.ads__cardWrap {
			position: static;
		}
	}

	&--center {

		.ads__cardWrap {
			align-items: center;
		}
	}

	&--noPaddingR {

		.ads__cardWrap {
			padding-right: 0;
		}
	}

	&--paddingMin {

		.ads__card {
			padding: 20px 30px;
		}

		.ads__section--star {
			right: 20px;
		}
	}

	&__profile {

		.ads__cardContent.assigned {

			#ads__addAgent {
				opacity: 1;
			}
		}

		.ads__cardContent {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.ads__cardContent,
		.ads__cardContent.adv-period,
		.ads__cardContent.active,
		.ads__cardContent.allotment {

			.ads__card {
				flex: 1 1 auto;
				padding: 20px 10px 40px 35px;
			}

			.ads__otherFunction {
				bottom: auto;
			}
		}

		.ads__cardWrap {
			width: 100%;
			max-width: 770px;
			padding-right: 0;
			margin: 0;
			justify-content: flex-start;
			margin-top: -18px;

			.ads__info {
				padding: 0;
				position: static;
				width: auto;
				justify-content: flex-start;
			}
		}

		.ads__type {
			width: 8%;
			flex-basis: auto;
			margin-top: 15px;
			margin-right: 10px;
		}

		.ads__one-info {
			display: flex;

			.ads__section--extra {
				min-width: auto;
			}

			&--region {
				width: 36%;
			}

			&--distr {
				width: 35%;
			}

			&--area {
				width: 14%;
			}

			&--custom {
				width: 18%;
			}

			&--date {
				width: 35%;
			}

			&--empty {
				width: 8%;
				margin-right: 10px;
			}

			&--extra {
				width: 13%;
				align-self: center;

				.extra-card+.extra-card {
					margin-left: 10px;
				}
			}

			&--empty-extra {
				width: 13%;
			}

			&--viewers {
				align-self: center;
			}
		}

		.ads__otherFunction {
			max-width: 250px;
			width: 100%;
			position: relative;
			top: auto;
			right: auto;
			bottom: auto;
			padding: 20px 20px 20px 40px;
			display: block;

			&:before {
				content: "";
				position: absolute;
				top: 20px;
				bottom: 20px;
				left: 0;
				width: 1px;
				background-color: #EBEBEB;
			}

			.ads__section {
				margin: 0;
				flex-direction: column;
				text-align: center;
			}

			.ads__status {
				flex-shrink: 0;
				margin-right: 10px;
			}
		}

		.ads__top-section {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			.btn {
				margin-top: 10px;
			}
		}

		.ads__bottom-section {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.extra-card {
	width: 33px;
	height: 33px;
	border: 2px solid $colorTurquoise;
	position: relative;
	border-radius: 50%;
	flex-shrink: 0;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 15px;
	}

	&__inform {
		position: absolute;
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
		background-color: #FFFFFF;
		left: 50%;
		transform: translateX(-50%);
		bottom: calc(100% + 15px);
		text-align: center;
		min-width: 128px;
		white-space: nowrap;
		padding: 7px 10px;
		transition: all .2s ease-out;
		opacity: 0;
		pointer-events: none;
		z-index: -1;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			bottom: -5px;
			left: 50%;
			border: 5px solid transparent;
			border-top: 5px solid #fff;
			border-right: 5px solid #fff;
			transform: translateX(-50%) rotate(135deg);
		}
	}

	&+.extra-card {
		margin-left: 15px;
	}

	&:hover {

		.extra-card__inform {
			pointer-events: visible;
			z-index: 2;
			opacity: 1;
		}
	}

	&--min {
		width: 25px;
		height: 25px;
		border: 1px solid #47C4C4;
		margin-left: 15px;

		img {
			width: 10px;
		}

		.extra-card__inform {
			bottom: calc(100% + 10px);
		}
	}

	&+.viewers {
		margin-left: 15px;
	}
}

.extra-card~.viewers {
	margin-left: 15px;
}

.ads__section--star {

	&.js-favorite {

		.icon-star {
			top: 9px;
		}
	}
}

.js-favorite {
	cursor: pointer;
	position: relative;
	transition: all .2s ease-out;
	opacity: .5;

	.icon-star,
	.icon-star-outline {
		width: 22px;
		animation: animStar .5s linear;
		display: flex;
		align-items: center;

		img {
			width: 22px;
		}
	}

	.icon-star {
		position: absolute;
		opacity: 0;
		left: 0;
		animation: none;
		top: 0;
	}

	&:hover {
		opacity: 1;
	}

	&.active {
		opacity: 1;

		.icon-star {
			opacity: 1;
			animation: animStar .5s linear;
		}

		.icon-star-outline {
			opacity: 0;
			animation: none;
		}
	}
}

@keyframes animStar {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(.8);
	}

	50% {
		transform: scale(1.5);
	}

	75% {
		transform: scale(.8);
	}

	100% {
		transform: scale(1);
	}
}

// Create Advert
.create-advert {
	padding: 130px 0;
	overflow: hidden;

	&--min {
		padding: 65px 0;
	}

	&__wrap {
		max-width: 875px;
		width: 100%;
		margin: 0 auto;

		&--min {
			max-width: 500px;
		}

		&--medium {
			max-width: 625px;
		}
	}

	&__form {
		margin-top: 35px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		&--column {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: normal;
		}
	}

	&__formData {
		width: 46%;
	}

	&__cadastData {
		width: 42%;
	}

	&__dataCard {

		&+.create-advert__dataCard {
			margin-top: 25px;
		}

		.create-advert__dataCard+.create-advert__dataCard {
			margin-top: 0;
			margin-left: 50px;
		}
	}

	.form-send {

		.btn {
			margin-left: 0;
		}
	}
}

// Advert
.advert {
	padding: 50px 0 100px;
	overflow: hidden;

	&__statusNav {
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__main {
		width: 75%;
	}

	&__main-type {
		display: flex;
		align-items: center;
	}

	&__allotment {
		height: 25px;
		width: 55px;
		background-color: $colorRed;
		margin-right: 10px;
		margin-bottom: 2px;
		color: #fff;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: .08em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__headInfo {
		margin-top: 35px;
	}

	&__otherInfo {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: -55px;
	}

	&__otherInfoCard {

		&+.advert__otherInfoCard {
			margin-top: 15px;
		}
	}

	&__listInfo {
		margin-top: 45px;

		li {
			display: flex;
			align-items: flex-start;

			.text {

				&:first-child {
					width: 190px;
					flex-shrink: 0;
				}
			}

			&+li {
				margin-top: 15px;
			}
		}

		&--column {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 10px;

			li {
				display: block;
				width: 45%;
				margin-top: 35px;

				.text {

					&:first-child {
						width: auto;
						margin-bottom: 15px;
					}
				}

				&+li {
					margin-top: 35px;
				}
			}
		}
	}

	&__cadastre-info {
		display: flex;
		align-items: center;
	}

	&__extra-card {
		margin-left: 15px;

		& .extra-card {
			width: 24px;
			height: 24px;

			img {
				width: 10px;
			}
		}
	}

	&__swiper {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: 50px;

		.swiper-slide {
			width: auto;
			cursor: pointer;
			display: flex;
			position: relative;

			img {
				height: 175px;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #000;
				opacity: .0;
				background-image: url(../img/svg/bringPlus.svg);
				background-repeat: no-repeat;
				background-position: center;
				transition: all .2s ease-out;
			}

			&:hover {

				&::before {
					opacity: .35;
				}
			}
		}
	}

	&__map {
		margin-top: 50px;
		width: 100%;
		height: 330px;
	}

	&__top-wrap {
		display: flex;

		.ads__wrap {
			margin-top: 0;

			&:first-child {
				flex: 1 1 0%;
				margin-right: 15px;
			}

			&:last-child {
				flex-shrink: 0;
				max-width: 190px;
			}
		}

		.ads__top-section {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.ads__menu {
			margin-left: 15px;
		}

		.ads__bottom-section {

			.btn {
				margin-top: 10px;
			}
		}

		.ads__otherInfo {
			flex-direction: column;
			align-items: flex-end;
			margin-top: 15px;

			.advert__otherInfoCard--date {
				order: -1;
				margin-top: 0;
			}
		}

		.advert__otherInfoCard:not(.advert__otherInfoCard--date) {
			margin-top: 15px;
		}

		.extra-card+.extra-card {
			margin-left: 10px;
		}

		.favoritesButton--ml {
			margin-left: 10px;
		}
	}
}

// Pages Error ---------
.error-page {
	padding: 180px 0 210px;

	.form-send {

		.btn {
			margin-left: 0;
		}
	}

	&__title {
		text-shadow: 0 0 67px rgba(0, 0, 0, .04);
		font-size: 300px;
		font-weight: 800;
		text-align: center;
		color: #FFFFFF;
		line-height: 300px;
	}
}

// Search ------------
.search {
	overflow: hidden;

	&__main {
		background-color: $colorBgGray;

		&Wrap {
			position: relative;
		}
	}

	&__toggleMap {
		position: absolute;
		height: 50px;
		width: 50px;
		box-shadow: 0 9px 27px rgba(0, 0, 0, .27);
		background-color: $colorOrange;
		top: 50%;
		right: -25px;
		transform: translateY(-50%);
		cursor: pointer;
		transition: all .3s linear;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 20px;
			transition: all .3s linear;
		}

		.text {
			margin-left: 15px;
			display: none;
			transition: all .3s linear;
		}

		&:hover {
			box-shadow: none;
		}
	}

	&__result {
		padding: 70px 0;
	}

	&__similar-result {
		display: none;
		padding-bottom: 70px;

		&.active {
			display: block;
		}
	}

	&__formWrap {
		display: flex;
		flex-direction: column;
		transition: all .2s linear;
		height: 425px;

		&.hidden {
			opacity: 0;
		}

		.radio-wrap {
			margin-top: 40px;
		}
	}

	&__form {
		width: 500px;
		background-color: $colorBgGray;
		padding: 65px 40px 40px 0;
		position: relative;
		z-index: 3;
		transition: all .6s ease-in-out;

		.helper {

			.input-group {
				max-width: 155px;

				&+.input-group {
					margin-left: 50px;
				}
			}
		}

		&.active {
			width: calc(100% + 100px);
			padding: 65px 100px 40px 0;

			.search__toggleMap {
				right: 0;

				img {
					transform: rotate(-180deg);
				}
			}

			.search__formWrap {
				flex-direction: row;
				flex-wrap: wrap;
				height: 150px;
				align-items: center;
				justify-content: space-between;

				&>* {
					width: 30%;
				}

				.radio-wrap {
					order: 1;
				}

				.input-group {

					&--cadNumSearch {
						order: 2;
					}

					&--searchRegion {
						order: 4;
					}
				}

				.helper {

					&--ga {
						order: 5;
					}

					&--price {
						order: 6;
					}
				}

				.form-send {
					order: 7;
				}
			}
		}
	}

	#search__map {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__mapWrap {
		position: absolute;
		top: 0;
		right: -100px;
		bottom: 0;
		left: 500px;
	}

	&__advertCard {
		display: flex;
		align-items: center;
		margin-top: 12px;

		.text:first-child {
			width: 80px;
			flex-shrink: 0;
		}
	}

	&__advert {
		width: 380px;
		position: absolute;
		top: 15px;
		right: 30px;
		box-shadow: 0 7px 27px rgba(0, 0, 0, 0.36);
		background-color: #FFFFFF;
		z-index: 2;
		padding: 20px 25px 25px;
		pointer-events: none;
		opacity: 0;
		transform: scaleY(0);
		transition: all .2s ease-out;

		.text__link {
			display: flex;
			align-items: center;
			margin-top: 12px;
		}

		&Close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			width: 30px;
			height: 30px;
			border: 1px solid #000;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 3;
			transition: all .1s linear;
			opacity: .2;

			img {
				width: 17px;
			}

			&:hover {
				opacity: 1;
			}
		}

		&Star {
			display: flex;
			align-items: center;
			margin-top: -2px;

			img {
				width: 20px;
				cursor: pointer;
			}
		}

		&.active {
			pointer-events: visible;
			opacity: 1;
			transform: scaleY(1);
		}
	}
}

// favorites --------------------
.favorites {
	padding: 50px 0 100px;
}

// Search Agent ------------------
.search-agent {

	&__info {
		background-color: #F8F8F8;
		padding: 70px 0 55px;
	}

	&__formWrap {
		display: flex;
		justify-content: space-between;
	}

	&__form {
		width: 38%;
	}

	&__content {
		display: flex;
		align-items: center;
		margin-top: 25px;

		.input-group {
			width: 100%;
		}

		.btn {
			margin-left: 25px;
			flex-shrink: 0;
		}
	}

	&__procedureAgent {
		width: 56%;
	}

	&__procedureCards {
		counter-reset: num;
		column-count: 2;
		margin-top: 10px;
	}

	&__procedureCard {
		display: flex;
		align-items: center;
		padding: 7px 0;
	}

	&__procedureNum {
		height: 27px;
		width: 27px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $colorBlue;
		flex-shrink: 0;
		margin-right: 10px;

		&:before {
			content: counter(num);
			counter-increment: num;
			color: $colorBlue;
		}
	}

	&__wrap {
		padding: 75px 0 100px;
	}

	&__wrapCard {
		display: flex;
		flex-wrap: wrap;
		margin: 35px -10px -10px;
	}
}

// Single Page
.single-page {
	padding: 50px 0 200px;

	&__content {
		margin-top: 50px;
	}
}

// single-news -------------------
.single-news {
	padding: 50px 0 200px;

	&__wrap {
		display: flex;
		position: relative;
		align-items: flex-start;
		margin-top: 35px;
	}

	&__container {
		margin-left: -35px;
	}

	&__showcase {
		position: relative;
	}

	&__photo {
		width: 100%;
	}

	&__content {
		padding: 0 30px;
	}
}

.visual-editor {
	font-weight: 300;
	letter-spacing: .05em;
	line-height: 1.8em;

	p {
		margin: 20px 0;
	}

	&>ul,
	&>ol {
		margin: 20px 0;

		ul,
		ol {
			padding-left: 40px;
		}
	}

	li {
		margin: 3px 0;
	}

	a {
		color: $colorTurquoise;
		font-weight: bold;
	}

	ul {
		list-style: circle inside;
	}

	ol {
		list-style: decimal inside;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'FuturaMediumC', sans-serif;
	}

	h1 {
		font-size: 40px;
		margin: .8em 0;
	}

	h2 {
		font-size: 30px;
		margin: .7em 0;
	}

	h3 {
		font-size: 20px;
		margin: .8em 0;
	}

	h4 {
		font-size: 17px;
		margin: .9em 0;
	}

	h5 {
		font-size: 14px;
		margin: .6em 0;
	}

	h6 {
		font-size: 13px;
		margin: .6em 0;
	}
}

// share
.share {
	position: sticky;
	display: inline-block;
	transform: translateX(-75px);
	top: 50px;

	&__icon {
		display: flex;
		flex-direction: column;
	}

	.text {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 45px) rotate(-90deg);
		display: inline-block;
	}

	a {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: relative;
		transition: all .2s ease-out;

		&.a2a_button_facebook {
			background-color: #5383DE;
		}

		&.a2a_button_twitter {
			background-color: #55ACEE;
		}

		&.a2a_button_google_plus {
			background-color: #E2594E;
		}

		img {
			position: absolute;
			width: 18px;
			height: 15px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&+a {
			margin-top: 15px;
		}

		&:hover {
			opacity: .7;
		}
	}
}

.support {
	padding: 80px 0 200px;

	&__selectPost {
		display: flex;

		&>.text {
			margin-right: 20px;
		}

		.radio {

			&+.radio {
				margin-left: 30px;
			}
		}
	}

	&__form {
		margin-top: 45px;
	}

	&__person {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		.input-group {
			width: 47%;
		}
	}

	&__msg {
		margin-top: 40px;
	}

	&__msg-wrap {
		border: 1px solid rgba(149, 150, 164, .35);
		border-radius: 5px;
		padding: 15px 18px 10px;
		margin-top: 10px;

		textarea {
			height: 100px;
			resize: none;
			font-family: 'Circe', sans-serif;
			font-size: 14px;
			color: #000;
			letter-spacing: .03em;
			padding: 0;

			&::placeholder {
				color: $colorGray;
				font-weight: 300;
			}
		}
	}

	&__addFile {
		margin-top: 5px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: inline-flex;
		align-items: center;

		img {
			width: 16px;
		}

		input[type="file"] {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		.error-custom {
			position: static;
			margin-left: 10px;
		}
	}

	&__file {
		display: flex;
		align-items: center;
		overflow: hidden;
		width: 250px;
		position: relative;

		input[type="file"] {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		&+.support__file {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 30px;
		}
	}

	&__fileIcon {
		width: 35px;
		margin-right: 3px;
		display: flex;
		align-items: center;
	}

	&__fileText {

		.text:first-child {
			background-color: #fff;
			z-index: 2;
			position: relative;

			&::before {
				content: '...............................................';
				position: absolute;
				left: calc(100% + 10px);
				bottom: 0;
				color: $colorGray;
			}
		}
	}

	&__fileDel {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
		padding: 3px;
		z-index: 3;
		cursor: pointer;

		img {
			width: 13px;
			transition: all .2s ease-out;
		}

		&:hover {

			img {
				transform: rotate(90deg);
			}
		}
	}
}

// promote --------------------
.promote {
	padding: 50px 0 130px;

	&__wrap {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
	}

	&__services {
		width: 37%;

		.input-group--select {
			padding-left: 27px;
			margin-top: 5px;
		}
	}

	&__navItem {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		flex-shrink: 0;
		margin-left: 20px;

		span {
			color: $colorBlue;
			font-size: 20px;
		}

		&--minMargL {
			margin-left: 10px;
		}

		&--MargNo {
			margin-left: 0;
		}
	}

	&__navServeces {
		margin-top: 35px;

		&>li {

			&+li {
				margin-top: 30px;
			}
		}
	}

	&__servicesPackages {
		width: 56%;
		min-width: 820px;
		flex-shrink: 0;
		margin-left: 50px;
	}

	&__servicesCardWrap {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	&__servicesCard {
		width: calc((100% / 3) - 21px);
		padding: 35px 25px 25px;
		background-color: $colorBgGray;
		box-shadow: 0 8px 24px rgba(0, 0, 0, .13);
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		ul {
			margin-top: 25px;

			li {

				&+li {
					margin-top: 15px;
				}
			}
		}

		&--custom {
			background-color: #fff;
			margin: -15px 0;
			box-shadow: 0 11px 27px rgba(0, 0, 0, .1);
			padding: 50px 25px 40px;

			.promote__servicesCardButton {

				.btn {
					padding: 14px 40px 12px;
				}
			}
		}
	}

	&__servicesCardContent {
		margin-top: 25px;
	}

	&__servicesCardButton {
		text-align: center;
		margin-top: 25px;
	}

	&__servicesCardTitle {
		position: relative;

		.text:nth-child(2) {
			position: absolute;
			width: 100%;
			top: 100%;
		}
	}
}

// Advertising Info
.advertising-info {
	margin-top: 30px;

	&__card {
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&+.advertising-info__card {
			border-top: 1px solid #F2F2F2;
		}
	}

	&__column {

		&--name {
			min-width: 210px;
		}

		&--date {
			min-width: 155px;
			display: flex;
			justify-content: center;

			&>*+* {
				margin-left: 5px;
			}
		}

		&--status {
			min-width: 70px;
			text-align: right;
		}
	}
}

.ajax-validate-error {

	div .error-step-3 {
		position: absolute;
		top: calc(100% + 5px);
		font-size: 12px;
		color: $colorRed;
		letter-spacing: .03em;
		left: 0;
	}

	span .error {
		margin-top: 5px;
		position: static;
	}
}

// Advert action
.advert-action {
	position: fixed;
	right: 15px;
	bottom: 20px;
	z-index: 99;
	transition: all .4s ease-out;
	align-items: center;
	justify-content: center;
	display: none;
	box-shadow: 0 7px 27px rgba(0, 0, 0, .36);
	opacity: 0;

	&>* {
		transition: all .2s ease-out;
		overflow: hidden;
	}

	img {
		width: 0;
		opacity: 0;
	}

	&.js-mini {
		width: 39px;
		height: 39px;
		padding: 0;

		img {
			width: 15px;
			opacity: 1;
		}

		p {
			width: 0;
			height: 0;
			opacity: 0;
		}
	}

	&.active {
		opacity: 1;
	}
}

// Dropdown search
.input-group--clear input {
	padding-right: 30px;
}

.input-group__clear {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	width: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-out;
}

.input-group.val .input-group__clear {
	opacity: 1;
	pointer-events: visible;
}

.input-group__clear.active {
	opacity: 1;
	pointer-events: visible;
}

.drop-search-region {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 0 16px rgba(0, 0, 0, .13);
	border-radius: 5px;
	z-index: 999;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-out;
	max-height: 200px;
}

.drop-search-region.active {
	opacity: 1;
	pointer-events: visible;
}

.drop-search-region li {
	font-size: 13px;
	letter-spacing: .03em;
	padding: 10px 20px;
	display: block;
	transition: all .2s ease-out;
	cursor: pointer;
}

.drop-search-region li:hover {
	background-color: #e8e8e8;
}

// Pagination
//.pagination {
//    margin-top: 60px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//
//    .page-item {
//        font-size: 12px;
//        display: inline-block;
//
//        &.active {
//            font-size: 18px;
//            font-weight: bold;
//            color: $colorOrange;
//        }
//
//        & + .page-item {
//            margin-left: 25px;
//        }
//
//        &:first-child,
//        &:last-child {
//            width: 20px;
//            height: 10px;
//
//            .page-link {
//                width: 20px;
//                height: 10px;
//                display: inline-block;
//                background: url("../img/longarrow.png") no-repeat center;
//                color: rgba(0, 0, 0, 0);
//            }
//        }
//
//        &:last-child {
//
//            .page-link {
//                transform: rotate(180deg);
//            }
//        }
//    }
//}

// Select2---------------------
body>.select2-container {
	width: auto !important;
	transition: none;
}

.select2-container {
	width: 100% !important;
	outline: none;

	& * {
		outline: none;
	}

	.select2-selection {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #000;
		background-color: rgba(255, 255, 255, 0);
		width: 100%;
		font-size: 16px;

		.select2-selection__arrow b {
			border-color: transparent;
			border-width: 0;
			width: 8px;
			height: 8px;

			border: {
				top: 1px solid #000;
				left: 1px solid #000;
			}

			transform: rotate(-135deg);
			margin-top: -8px;
		}
	}

	&.select2-container--open {

		.select2-selection--single {

			.select2-selection__arrow b {
				border-color: transparent;
				border-width: 0;

				border: {
					bottom: 1px solid #000;
					right: 1px solid #000;
				}

				margin-top: -2px;
			}
		}
	}

	.select2-selection--single .select2-selection__rendered {
		padding-left: 0;
		color: $color;
	}

	.select2-dropdown {
		background-color: transparent;
		border-top: none;
		transition: none;
		z-index: 1;

		&--below,
		&--above {
			border-radius: 0;
			border: none;
		}

		.select2-results {
			background-color: #fff;
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, .13);

			&__options {
				font-size: 15px;

				.select2-results__option--highlighted[aria-selected] {
					background-color: $colorGrayLight;
					color: #000;
				}

				.select2-results__option[aria-selected=true] {
					background-color: $colorGrayLight;
				}
			}

			&__option {
				padding: 10px 20px;
			}
		}
	}

	.select2-search--dropdown {
		padding: 0;

		.select2-search__field {
			border: none;
			padding: 5px 0;
			font-size: 16px;
		}
	}
}

.select2-container--open:not(.select2) {
	top: -3px !important;
}

.select2 {

	&.select2-container--open {

		.select2-selection {
			opacity: 0;
		}

		.select2-selection__rendered {
			opacity: 0;
		}
	}
}

.select2-results__options {
	-webkit-overflow-scrolling: touch;
}

// Pagination
.pagination {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	font-size: 12px;

	.page-item {
		width: 1.667em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:not(:first-child):not(:last-child):not(.dots):hover {

			.page-link {
				color: #FFC000;
			}
		}

		&:first-child,
		&:last-child {
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			position: relative;
			transition: box-shadow .2s;
			flex-shrink: 0;

			a, span {
				font-size: 2.083em;
				color: #B1B1B1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				line-height: 1.2em;
			}

			&:hover {
				box-shadow: 0 0 0.6em 0.2em rgba(0, 0, 0, .11);
			}
		}

		&:nth-child(n+2) {
			margin-left: 1.1em;
		}

		&.disabled {
			cursor: initial;
			opacity: .35;

			&:hover {
				box-shadow: none;
			}
		}

		&.dots {
			opacity: 1;
		}

		&.active {
			cursor: initial;

			span.page-link {
				font-size: 1.5em;
				color: #FFC000;
				line-height: 1.667em;
			}
		}
	}

	.page-link:not([aria-label]):not([aria-hidden]) {
		font-size: 1em;
		color: #000000;
		transition: color .2s;
		line-height: 2.5em;
	}

	.page-link {
		text-align: center;
		width: 100%;
	}
}

// Custom Scrollbar
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}