// Select ------------
.selectric {
    border: none;
    background-color: #ffffff;
    width: 120px;

    .label {
        line-height: normal;
        color: #000;
        font-size: 15px;
        font-family: "Circe", sans-serif;
        padding: 0;
        height: auto;
        margin: 0 30px 0 0;
        font-weight: 400;
        letter-spacing: .03em;
    }

    .button {
        height: 22px;
        background-color: transparent;
        width: 40px;
        transition: all .2s ease-out;

        &::after {
            border: none;
            background: url("../img/svg/arrow-down-grey.svg") no-repeat center / cover;
            width: 17px;
            height: 16px;
        }
    }

    &-hover .selectric,
    &-open .selectric,
    &-focus .selectric {
        border-color: #0daad8;
    }

    &-open .selectric {
        .button {
            transform: rotate(180deg);
        }

        &-items {
            z-index: 20;
        }
    }

    &-items {
        border: none;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        top: calc(100% + 5px);

        li {
            font-size: 13px;
            letter-spacing: .03em;
            padding: 10px 20px;
            display: block;
            transition: all .2s ease-out;
            color: #000;

            &.selected {
                color: #000;
                background-color: #fff;

                &:hover {
                    background-color: $colorGrayLight;
                }
            }

            &:hover {
                background-color: $colorGrayLight;
                color: #000;
            }
        }
    }
}

// Checkbox ------------
.checkbox {
    position: relative;
    display: block;

    &__text {
        position: relative;
        cursor: pointer;
        padding-left: 25px;
        font-size: 13px;

        a {
            color: $colorTurquoise;
        }

        &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border: 1px solid #000;
            left: 2px;
            top: -1px;
            transition: all .2s ease-out;
        }

        &::after {
            content: '';
            position: absolute;
            height: 11px;
            width: 11px;
            background-color: transparent;
            left: 5px;
            top: 2px;
            transition: all .2s ease-out;
            transform: rotate(0) scale(0);
        }

        &:hover {

            &::before {
                transform: rotate(90deg);
            }

            &::after {
                transform: rotate(-90deg);
            }
        }
    }

    &--big {

        .checkbox__text {
            font-size: 14px;
            letter-spacing: .03em;

            &::before {
                top: 0;
            }

            &::after {
                top: 3px;
            }
        }
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        pointer-events: none;
    }

    &--mt {
        margin-top: 30px;
    }

    &--mtMin {
        margin-top: 25px;
    }

    &--mtMini {
        margin-top: 20px;
    }

    &.checked .checkbox__text::after {
        background-color: $colorOrange;
        transform: scale(1);
    }
}

.radio {
    position: relative;
    display: block;
    opacity: .6;
    transition: all .2s ease-out;

    &__text {
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        font-size: 14px;
        letter-spacing: .03em;
        color: #000;

        a {
            color: $colorTurquoise;
        }

        &::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border: 2px solid #000;
            border-radius: 50%;
            left: 2px;
            top: -1;
            transition: all .2s ease-out;
            opacity: .5;
        }

        &::after {
            content: '';
            position: absolute;
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: transparent;
            left: 7px;
            top: 5px;
            transition: all .2s ease-out;
        }
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        pointer-events: none;
    }

    &:hover {
        opacity: 1;
    }

    &.checked {
        opacity: 1;

        .radio__text {

            &::after {
                background-color: $colorOrange;
            }

            &::before {
                border-color: $colorOrange;
                opacity: 1;
            }
        }

        &:hover {

            .radio__text {

                &::after {
                    transform: scale(.6);
                }
            }
        }
    }

    & + .radio {
        margin-left: 40px;
    }
}

// AutoComplete
.autocomplete-suggestions {
    position: absolute;
    background-color: #FFFFFF;
    min-width: 170px;
    box-shadow: 0 0 16px rgba(0,0,0,0.13);
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s ease-out;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99999;

    .autocomplete-suggestion {
        font-size: 13px;
        letter-spacing: .03em;
        padding: 10px 20px;
        display: block;
        transition: all .2s ease-out;
        cursor: pointer;

        &:hover {
            background-color: $colorGrayLight;
        }
    }
}

// Tabs
//.tabs {
//  max-width: 780px;
//  width: 100%;
//  margin: 0 auto;
//}
//
//.nav-tabs {
//  display: flex;
//  justify-content: center;
//}
//
//.nav-tabs li {
//  display: inline-block;
//  min-width: 160px;
//  padding: 20px 10px;
//  background-color: #0daad8;
//  text-align: center;
//  border-radius: 25px 25px 0 0;
//  font-size: 18px;
//  transition: all .2s linear;
//  cursor: pointer;
//
//  &.active {
//    background-color: #fff;
//    color: #14bef0;
//  }
//}
//
//.content-tabs-wrap {
//  background-color: #fff;
//  border-radius: 25px;
//  padding: 60px 80px 40px;
//}
//
//.content-tabs {
//  display: none;
//
//  &.active {
//    display: block;
//  }
//}
