.container {
    width: 100%;
    padding: 0 100px;
    max-width: 1780px;
    margin: 0 auto;

    &--min {
        padding: 0 15px;
        max-width: 950px;
    }
}

.flex-cont {
    display: flex;
    flex-wrap: nowrap;

    &-i {
        display: inline-flex;
    }
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-sb {
    justify-content: space-between;
}

.justify-sa {
    justify-content: space-around;
}

.justify-c {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.dark-section {
    background-color: $colorBgGray;
}

// Status
.active-state {
    color: #3FBF96 !important;
}

.moderation-state {
    color: #F2A655 !important;
}

.disabled-state {
    color: #9596A4 !important;
}

.noActive-state {
    color: #D12626 !important;
}
