// Footer
.footer {
    background-color: #202020;
    padding: 55px 0;

    &__mail {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: .03em;
        color: #fff;
        margin-top: 5px;
        display: flex;
        align-items: center;

        img {
            width: 16px;
            margin-right: 8px;
            margin-bottom: 2px;
        }

        p {
            opacity: .37;
        }

        &:hover {
            color: #fff;
        }
    }

    &__pay {
        display: flex;
        align-items: center;
        margin-top: 10px;

        img {
            width: 36px;

            & + img {
                margin-left: 10px;
            }
        }
    }

    &__card {

        &--right {
            text-align: right;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        font-weight: 400;
        color: #FFFFFF;
        opacity: .3;
        margin-top: 10px;
        font-size: 12px;
        letter-spacing: .03em;
    }

    &__nav {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: .03em;

        li {

            a {
                color: #FFFFFF;
                opacity: .37;
                transition: all .2s ease-out;
                display: inline-block;
                padding: 0 5px;

                &:hover {
                    opacity: 1;
                }
            }

            & + li {
                margin-top: 10px;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;

        p {
            font-weight: 400;
            font-size: 13px;
            letter-spacing: .03em;
            color: #FFFFFF;
            opacity: .37;
            white-space: nowrap;
        }
    }

    &__development {
        font-weight: 400;
        color: rgba(255, 255, 255, .3);
        font-size: 13px;
        letter-spacing: .03em;
        margin-top: 10px;
        white-space: nowrap;

        a {
            color: $colorTurquoise;
            transition: all .3s;

            &:hover {
                color: $colorYellow;
            }
        }
    }
}
