// Header
.header {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;

    .exit-menu {
        display: none;
        width: 30px;
    }

    .container {
        display: flex;
        align-items: center;
    }

    &__profileMenu {

        &.dropdown {
            top: calc(100% + 5px);
        }
    }

    &__burger {
        display: none;
    }

    &__nav {
        margin-left: 45px;

        a {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .03em;
            transition: all .2s ease-out;

            & + a {
                margin-left: 35px;
            }

            &.button-link {
                background-color: $colorOrange;
                padding: 11px 25px 9px;
                border-radius: 20px;
            }

            &:hover {
                color: $colorTurquoise;

                &.button-link {
                    color: #000;
                    box-shadow: 0 7px 20px 0 rgba(255, 192, 0, .37);
                }
            }
        }
    }

    &__personal {
        margin-left: auto;
    }

    &__login {
        transition: all .2s ease-out;
        display: flex;
        align-items: center;

        span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .03em;
            display: inline-block;
            margin-left: 7px;
            margin-top: 2px;
        }

        .header__loginIcon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            position: relative;

            img {
                width: 22px;
                transition: all .2s ease-out;
            }

            .icon-hover {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }

        &:hover {
            color: $colorTurquoise;

            .header__loginIcon {

                .icon-hover {
                    opacity: 1;
                }

                .icon-default {
                    opacity: 0;
                }
            }
        }
    }

    &__mailUser {
        position: relative;
        display: flex;
    }

    &__mailCalc {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        background-color: $colorRed;
        text-align: center;
        line-height: 20px;
        top: -10px;
        right: -10px;
        font-size: 11px;
        font-weight: 800;
        color: #FFFFFF;
        padding-top: 1px;
    }

    &__user {
        align-items: center;
        display: none;

        &.active {
            display: flex;
        }
    }

    &__userPhoto {
        display: flex;
        flex-shrink: 0;
        position: relative;
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 50%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        //.stub {
        //    position: absolute;
        //    top: 0;
        //    right: 0;
        //    bottom: 0;
        //    left: 0;
        //    background-color: #CBC5C5;
        //    opacity: .2;
        //}

        .header__mailCalc {
            display: none;
            top: -5px;
            right: -5px;
        }
    }

    &__userName {
        margin-left: 13px;
        margin-right: 8px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .03em;
        transition: all .2s ease-out;
    }

    &__profile-wrap {
        margin-left: 25px;
        display: flex;
        align-items: center;

        &:hover {

            .header__userName {
                color: $colorTurquoise;
            }
        }
    }

    &__profile {
        cursor: pointer;
        position: relative;

        .arrow {
            transition: all .2s ease-out;
            width: 15px;
            margin-bottom: 3px;
        }
    }
}
