@media only screen and (min-width: 1920px) {
    .search {

        &__form {

            &.active {
                width: calc(100% + 165px);
                padding: 65px 180px 40px 0;
            }
        }

        &__mapWrap {
            right: -165px;
        }
    }
}

@media only screen and (max-width: 1571px) {
    .personCard {

        &--customView {

            .personCard__photo {
                width: 50px;
                height: 50px;
            }
        }
    }

    .advert {

        &__otherInfo {
            margin-top: 0;
            flex-shrink: 0;
            margin-left: 30px;
        }
    }

    .fresh-info {

        &--advert {
            flex-wrap: wrap;
        }
    }

    .ads {

        .extra-card {
            width: 25px;
            height: 25px;
            border: 1px solid $colorTurquoise;

            img {
                width: 10px;
            }

            &__inform {
                bottom: calc(100% + 10px);
            }
        }

        &__section {

            &--menu {
                order: -1;
            }
        }

        &__priceInfo {
            flex-basis: 320px;
        }

        &__addressInfoWrap {
            width: 100%;
            max-width: 500px;
        }

        &__otherInfo {
            width: auto;
            max-width: none;
            flex-basis: auto;
        }

        &--long {

            .ads__section {

                & > .text:first-child {
                    font-size: 13px;
                }

                & > .text:last-child {
                    font-size: 14px;
                }
            }

            &__priceInfo {

                .ads__section {

                    &--extra {
                        min-width: 135px;
                    }
                }
            }

            .ads__addressInfoWrap {
                flex-basis: 380px;
            }
		}
		
		&__profile {

			.ads__cardContent {
				flex-direction: column;
			}

			.ads__cardContent,
			.ads__cardContent.adv-period {
				
				.ads__card {
					flex: auto;
					width: 100%;
					padding: 20px 40px;
				}
			}

			.ads__cardWrap {
				max-width: none;

				.ads__info {
					width: 100%;
				}
			}

			.ads__type {
				width: 12%;
			}

			.ads__one-info {

				&--region {
					width: 35.8%;
				}

				&--distr {
					width: 50%;
				}

				&--area {
					width: 13.2%;

					.ads__section {
						margin-left: 0;
					}
				}

				&--empty,
				&--empty-extra {
					display: none;
				}

				&--custom {
					width: 18%;
				}

				&--date {
					width: 21%;
				}

				&--extra {
					width: auto;
				}
			}

			.ads__info {

				.ads__section {
					margin-left: 0;
				}
			}

			.ads__otherFunction {
				max-width: none;
				padding: 15px 40px;

				&:before {
					top: 0;
					bottom: auto;
					left: 40px;
					right: 40px;
					height: 1px;
					width: auto;
				}

				.ads__section {
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
				}

				.btn {
					min-width: 150px;
				}
			}

			.ads__top-section {
				width: auto;
				flex-wrap: nowrap;
				order: 1;

				.btn {
					margin-top: 0;
				}
			}

			.ads__bottom-section {
				width: auto;
				margin-top: 0;
			}

			.ads__menu {
				margin-left: 10px;
				order: 1;
			}
		}
    }

    .promote {

        &__wrap {
            flex-direction: column;
        }

        &__services {
            width: 100%;
            max-width: 700px;
            margin-top: 70px;
        }

        &__servicesPackages {
            margin-left: 0;
            width: 100%;
            order: -1;
        }
	}
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1200px;
        padding: 0 15px;

        &--min {
            max-width: 950px;
        }
    }

    .ads {

        &--long {

            .ads__cardWrap {
                justify-content: flex-start;
                flex-direction: row;
            }

            .ads__addressInfoWrap {
                max-width: 560px;
            }

            .ads__priceInfo {
                justify-content: space-between;
                max-width: 610px;
            }
        }
    }

    .search {

        &__advert {
            right: 15px;
        }

        &__mapWrap {
            right: -15px;
        }

        &__form {

            &.active {
                width: calc(100% + 15px);
                padding: 65px 60px 40px 0;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .header {

        &__nav {
            margin-left: 25px;

            a {

                &.button-link {
                    padding: 9px 20px 7px;
                }

                & + a {
                    margin-left: 25px;
                }
            }
        }
    }

    .error-page {
        padding: 150px 0;

        &__title {
            font-size: 200px;
            line-height: 200px;
        }
    }

    .personCard {

        &__photo {
            width: 45px;
            height: 45px;
        }


        &--customView {
            width: calc((100% / 3) - 20px);
        }
    }

    .ads {

        &__otherInfo {

            .ads__section {
                width: auto;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
	// Callboard
	.callboard {
		min-height: auto;
		height: auto;
	}

    .single-news {
        padding: 50px 0 100px;

        &__wrap {
            flex-direction: column;
        }

        .share {
            position: static;
            transform: translateX(0);
            display: flex;
            align-items: center;
            margin-top: 30px;

            .text {
                position: static;
                transform: none;
                order: -1;
                margin-right: 10px;
            }

            &__icon {
                flex-direction: row;

                a {

                    & + a {
                        margin-top: 0;
                        margin-left: 10px;
                    }
                }
            }
        }

        &__container {
            margin-left: 0;
            order: -1;
        }

        &__content {
            padding: 0;
        }
    }

    .search {

        &__form {
            width: 400px;
        }

        &__mapWrap {
            left: 400px;
        }

        &__result {
            padding: 70px 0 90px;
        }

        .helper {

            .input-group {
                max-width: 100%;

                & + .input-group {
                    margin-left: 25px;
                }
            }
        }
    }

    .ads {

        &__priceInfo {
            flex-basis: auto;
        }

        &__addressInfoWrap {
            flex-basis: auto;
        }

        &__addressInfo {
            max-width: 380px;
        }

        &__section {

            & > .text {

                &:first-child {
                    font-size: 13px;
                    white-space: nowrap;
                }

                &:last-child {
                    font-size: 14px;
                }

                .text--mini:first-child {
                    font-size: 11px;
                }
            }

            & > .text--mini:first-child {
                font-size: 11px;
            }
        }

        &--long {

            .ads__addressInfo {
                max-width: none;
            }
        }
    }

    .header__profileMenu.dropdown {
        top: calc(100% + 5px);
    }

    .personCard {

        &--main {
            margin-left: 40px;
        }
    }

    // Header
    .header {

        &__userName {
            display: none;
        }

        &__userPhoto {
            margin-right: 10px;
        }

        &__profile-wrap {
            margin-left: 15px;
        }

        &__profileMenu {
            top: calc(100% + 5px);
        }
    }

    .callboard {
        padding: 50px 0 65px;

        &__search {
            width: 100%;
            min-width: unset;
            max-width: 800px;
        }

        &__photo {
            display: none;
        }
    }

    .fresh-info {

        &--mt {
            margin-top: 100px;
        }
    }

    .news-section {

        &__card {
            width: calc((100% / 3) - 60px);
        }
	}
	
	// Advert
	.advert {

		&__top-wrap {
			display: block;
	
			.ads__wrap {
				margin-top: 0;
				display: flex;
    			flex-direction: column;
	
				&:first-child {
					margin-right: 0;
				}
	
				&:last-child {
					display: none;
				}
			}

			.ads__main-info {
				order: -1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 15px;

				.btn {
					margin-top: 0;
					min-width: 150px;

					&:last-child {
						margin-left: 10px;
					}
				}
			}

			.ads__otherInfo {
				margin-top: 0;
				min-width: 180px;
			}
		}
	}
}

@media only screen and (max-width: 1107px) {
    .ads {

        &__priceInfo {
            max-width: 320px;
        }

        &__otherInfo {
            max-width: 430px;

            .ads__section {
                width: 50%;
            }
        }

        &__cardWrap {
            flex-direction: column;
        }

        &__clearSection {
            display: none;
        }

        &__section {

            &--menu {
                order: 0;
            }
		}
		
		&__profile {

			.ads__cardWrap {
				flex-direction: row;
			}
		}
    }
}

@media only screen and (max-width: 991px) {

    .advert-action {
        display: flex;
    }

    .promote {

        &__wrap {
            margin-top: 50px;
        }

        &__servicesPackages {
            min-width: 100%;
        }

        &__servicesCard {
            width: calc((100% / 3) - 11px);
            padding: 35px 15px 25px;

            &--custom {
                padding: 50px 15px 40px;
            }
        }
    }

    .footer {
        position: relative;
        padding: 100px 0 90px;

        &__pay {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
        }

        .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 50px;
            pointer-events: visible;
        }

        &__copyright {
            position: absolute;
            bottom: 25px;
            left: 15px;
            pointer-events: visible;
        }

        &__development {
            position: absolute;
            bottom: 25px;
            right: 15px;
        }

        &__card {

            &--custom {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
            }
        }

        &__social {
            justify-content: flex-end;

            p {
                display: none;
            }
        }
    }

    .ads {

        &__cardWrap {
            flex-direction: row;
        }

        &__section {

            &--menu {
                order: -1;
            }
        }

        &__priceInfo {
            max-width: none;
        }

        &__addressInfoWrap {
            max-width: 525px;
        }
    }

    .advert {
        padding: 15px 0 100px;

        &__statusNav {
            margin-right: 80px;
        }

        &__wrap {
            flex-wrap: wrap;
        }

        &__main {
            width: 100%;
            margin-top: 40px;
            position: relative;
        }

        &__otherInfoCard {

            &--date {
                position: absolute;
                right: 0;
                top: 4px;
            }

            & + .advert__otherInfoCard {
                margin-top: 0;
            }

            &:last-child {
                margin-top: 15px;
            }
		}
		
		&__top-wrap {

			.dropdown--dark {
				transform: translateX(-50%);
				left: 50%;
				right: auto;


				&:before {
					left: 50%;
					right: auto;
				}
			}

			.advert__main-type {
				justify-content: space-between;

				.advert__otherInfoCard--date {
					position: static;
					order: 1;
					margin-top: 0;
				}
			}

			.ads__otherInfo {
				
				.advert__otherInfoCard--extra {
					margin-top: 0;
				}
			}

			.advert__text-type {
				flex-grow: 1;
			}

			.ads__otherInfo {
				min-width: 150px;
			}
		}
    }

    .dropdown {

        &--dark {
            transform: translateX(0);
            right: -7px;
            left: auto;

            &::before {
                right: 6px;
                left: auto;
            }
        }
    }

    .personCard {

        &--main {
            margin-left: 0;
            width: 100%;
            order: -1;
            display: flex;
            justify-content: space-between;
            padding: 15px;

            .personCard__grade {
                margin-left: 0;
                justify-content: flex-start;
            }

            .personCard__gradeCard {

                & + .personCard__gradeCard {
                    margin-left: 35px;
                }
            }
        }

        &__infoError {

            &.active {
                margin-bottom: 7px;
            }
        }

        &__roleWrap {
            display: none;
        }

        &__otherData {
            margin-left: 10px;
        }

        &__name {
            font-size: 16px;
        }

        &__informWrap {
            margin-top: 10px;
        }

        &__data {
            margin-top: 0;
        }

        &__btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 10px;

            .btn {
                margin-top: 10px;
            }
        }

        &__info {
            margin-top: 5px;

            li {

                & + li {
                    margin-top: 5px;
                }
            }
        }

        &--customView {
            padding: 15px;
            width: calc((100% / 2) - 20px);
        }
    }

    .search-agent {

        &__formWrap {
            flex-direction: column;
        }

        &__form,
        &__procedureAgent {
            width: 100%;
            max-width: 700px;
        }

        &__procedureAgent {
            margin-top: 30px;
        }

        &__info {
            padding: 50px 0;
        }
    }

    .profile {
        padding: 15px 0 90px;

        &__wrap {
            flex-direction: column;
        }

        &__main {
            width: 100%;
            margin-top: 40px;
        }
    }

    body.overflow,
    html.overflow {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .header {
        position: relative;
        height: 80px;
        padding: 10px 0;

        .container {
            justify-content: space-between;
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #222222;
            padding-top: 95px;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease-out;
            transform: translateX(-100%);
            z-index: 9999;

            a {
                font-size: 23px;
                font-family: 'FuturaMediumC', sans-serif;
                color: #FFFFFF;
                letter-spacing: normal;
                text-transform: none;
                font-weight: normal;

                &.button-link {
                    padding: 0;
                    border-radius: 0;
                    background-color: transparent;

                    &:hover {
                        color: $colorTurquoise;
                        box-shadow: none;
                    }
                }

                & + a {
                    margin-left: 0;
                    margin-top: 30px;
                }
            }

            &.active {
                pointer-events: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }

        &__personal {
            margin-left: 0;
        }

        &__burger {
            display: block;
            cursor: pointer;
            transition: all .3s linear;
            padding: 20px 20px 20px 0;

            span {
                width: 36px;
                height: 1px;
                display: flex;
                background-color: #000000;
                transition: all .3s ease-out;

                & + span {
                    margin-top: 10px;
                }
            }

            &.active {
                z-index: 99999;

                span {
                    background-color: #fff;

                    &:nth-child(1) {
                        transform: rotate(45deg) translateY(8px);
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg) translateY(-8px);
                    }
                }
            }
        }
    }

    .search {

        &__result {
            padding: 60px 0;
        }

        &__mapWrap {
            left: -15px;
        }

        &__form {
            transform: translateX(calc((-100%) - 15px));
            padding: 65px 100px 40px 15px;

            &.active {
                transform: translateX(0);
                padding: 65px 100px 40px 15px;
                width: calc(100% + 30px);
                margin-left: -15px;

                .search__formWrap {
                    height: auto;

                    & > * {
                        width: 45%;
                    }

                    .input-group {

                        &--searchRegion {
                            order: 3;
                        }

                        &--cadNumSearch {
                            order: 5;
                        }
                    }

                    .helper {

                        &--price {
                            order: 4;
                        }

                        &--cadNumSearch {
                            order: 5;
                        }

                        &--ga {
                            order: 6;
                        }
                    }
                }
            }
        }

        &__formWrap {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            height: auto;

            & > * {
                width: 45%;
            }
        }

        &__toggleMap {
            right: -50px;
        }
    }

    .news-section {

        &__card {
            width: calc((100% / 2) - 60px);
        }
    }
}

@media only screen and (max-width: 768px) {

    .promote {
        padding: 50px 0;

        &__services {
            max-width: 100%;
        }

        &__servicesCardWrap {
            flex-direction: column;
            align-items: center;
        }

        &__servicesCard {
            width: 100%;
            max-width: 400px;

            &--custom {
                margin: 0;
                padding: 35px 15px 25px;
            }

            & + .promote__servicesCard {
                margin-top: 30px;
            }
        }
    }

    .single-news {
        padding: 50px 0;
    }

    .search {

        &__form {
            padding: 65px 80px 40px 15px;

            &.active {
                padding: 65px 80px 40px 15px;

                .search__formWrap {

                    & > * {
                        width: 47%;
                    }
                }
            }
        }

        &__formWrap {

            & > * {
                width: 47%;
            }
        }
    }

    .upload-photos {

        &__card {
            width: calc((100% / 4) - 21px);
        }
    }

    .error-page {
        padding: 100px 0;

        &__title {
            font-size: 150px;
            line-height: 150px;
        }
    }

    .popup {
        padding: 10px;
        overflow-y: scroll;

        &__advert-controlCard {
            width: 50px;
            height: 30px;
        }

        &__close {
            width: 30px;
            height: 30px;
            top: 5px;
            right: 5px;
        }

        &__wrap {
            margin-top: 30px;
        }
    }

    .advert {
        padding: 15px 0 50px;

        &__listInfo {

            &--column {
                flex-direction: column;

                li {
                    width: 100%;
                }
            }
        }

        &__otherInfo {

            .extra-card {
                width: 25px;
                height: 25px;
                border: 1px solid $colorTurquoise;

                img {
                    width: 10px;
                }

                & + .extra-card {
                    margin-left: 10px;
                }
            }
        }

        &__swiper {
            width: calc(100% + 15px);
            margin-right: -15px;
        }

        &__map {
            margin-right: -15px;
            margin-left: -15px;
            width: calc(100% + 30px);
            height: 290px;
        }

        .similar-listings {
            margin-top: 50px;
        }
    }

    .favoritesButton {

        &--ml {
            margin-left: 10px;
        }
    }

    .ads {

        &__priceInfo {
            margin-left: -75px;
        }

        &--long {

            .ads__priceInfo {
                margin-left: 0;
            }
        }
    }

    .registration {

        &__form {
            overflow: hidden;
        }
    }

    .input-group {

        &__link {
            top: 100%;
            transform: translateY(0);
        }
    }

    .news-section {

        &__card {
            width: calc((100% / 2) - 40px);
            margin: 30px 20px;
        }

        &__wrap {
            margin: 15px -20px -30px;
        }
    }
}

@media only screen and (max-width: 695px) {

    .ads {

        &__wrap {
            border-top: none;
        }

        &__card {
            flex-direction: column;
            padding: 25px 12px 17px;
            border: 1px solid $colorGrayLight;
            border-radius: 10px;
        }

        &__type {
            flex-basis: auto;
            margin-right: 0;
        }

        &__cardWrap {
            flex-direction: column;
            padding-left: 0;
            margin: 0;
            padding-right: 20px;
        }

        &__cardContent {
            border-top: none;
            border-radius: 10px;
            border-bottom-color: transparent;

            & + .ads__cardContent {
                margin-top: 15px;
            }

            &.active {
                border-bottom: none;

                .ads__card {
                    padding-top: 45px !important;
                    padding: 45px 12px 17px;

                    .ads__allotment {
                        width: 100%;
                        right: 0;
                        bottom: auto;
                        height: 25px;
                        border-radius: 10px 10px 0 0;

                        p {
                            transform: rotate(0);
                            margin-left: 0;
                            letter-spacing: .2em;
                        }
                    }

                    & ~ .ads__otherFunction {
                        top: 45px;
                    }
                }
            }

            &.assigned,
            &.adv-period {

                .ads__card {
                    padding: 25px 12px 70px;
                }

                .ads__info {
                    flex-direction: column;
                    padding: 0 12px;
                    bottom: 25px;
                }
            }

            &.assigned {

                #ads__period {
                    display: none;
                }
            }

            &.adv-period {

                #ads__addAgent {
                    display: none;
                }
            }

            &.assigned.adv-period,
            &.adv-period.assigned {

                .ads__info {
                    bottom: 15px;
                }

                #ads__addAgent {
                    margin-top: 5px;
                    display: inline-block;
                }

                #ads__period {
                    display: inline-block;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &__addressInfoWrap {
            max-width: 100%;
        }

        &__addressInfo {
            flex-direction: column;
            max-width: 100%;

            .ads__section {
                width: 100%;
            }
        }

        &__priceInfo {
            margin-left: 0;
            flex-direction: column;

            .ads__section {
                width: 100%;
            }
        }

        &__otherInfo {
            flex-direction: column;
            align-items: flex-start;
        }

        &__otherFunction {
            top: 25px;
            right: 12px;
        }

        &__menu {
            margin-left: 11px;
        }

        &__section {
            margin: 20px 0 0 0;
            display: flex;
			width: 100%;
			
			&--first {
				margin: 0;
			}

            &--extra {
                order: 2;

                .extra-card {

                    &__inform {
                        left: 55px;

                        &::before {
                            left: 35px;
                        }
                    }
                }
            }

            &--star {
                height: 27px;
                justify-content: flex-end;
            }

            .text {

                &:first-child {
                    width: 135px;
                    flex-shrink: 0;
                }

                &:last-child {
                    white-space: normal;
                }
            }

            &--menu {
                margin: 0;

                .text {

                    &:first-child {
                        width: auto;
                    }
                }
            }
        }

        &--long {

            .ads__card {
                padding: 5px 12px 17px;

                & + .ads__card {
                    margin-top: 15px;
                }

                &.active {
                    padding: 25px 12px 17px;
                }
            }

            .ads__cardWrap {
                position: static;
            }

            .ads__section {

                &--star {
                    top: auto;
                    bottom: 17px;
                    height: 28px;
                    right: 12px;
                    width: auto;
                }
            }
        }

        &--paddingMin {

            .ads__type {
                margin-top: 20px;
            }
		}
		
		&__profile {

			.ads__cardContent {
				border-radius: 10px;
				border: 1px solid #ebebeb;
			}

			.ads__cardContent,
			.ads__cardContent.adv-period {
				
				.ads__card {
					padding: 15px 10px 20px !important;
					border: none;
				}

				#ads__addAgent {
					display: block;;
				}
			}

			.ads__cardContent.active {

				.ads__allotment {
					width: 100%;
					position: static;
					height: 25px;
					border-radius: 10px 10px 0 0;

					p {
						transform: rotate(0);
						margin-left: 0;
						letter-spacing: .2em;
					}
				}
			}

			.ads__cardWrap {
				align-items: center;
				justify-content: space-between;
				margin-top: 0;

				.ads__info {
					padding: 0;
					justify-content: flex-start;
					flex-direction: row;
				}
			}

			.ads__section {
				margin: 10px 0 0 0;

				.text:first-child {
					width: 120px;
				}
			}

			.ads__type {
				margin: 0;
				width: auto;
				order: -3;
				flex: 1 1 auto;
			}

			.ads__one-info {
				width: 100%;

				&--extra {

					.extra-card__inform {
						left: 15px;

						&:before {
							left: 60px;
						}
					}

					.extra-card+.extra-card {
						margin-left: 5px;
					}
				}

				&--extra,
				&--viewers {
					width: auto;
					order: -2;

					.ads__section {
						margin: 0 0 0 10px;

						.text:first-child {
							width: auto;
						}
					}
				}

				&--viewers {
					order: -1;
				}
			}

			.ads__info {

				.ads__section {
					margin-left: 0;

					.text:first-child {
						width: auto;
					}
				}
			}

			.ads__otherFunction {
				padding: 15px 10px;
				top: auto !important;
				bottom: auto !important;

				&:before {
					left: 10px;
					right: 10px;
				}

				.ads__section {
					flex-direction: column;
					justify-content: stretch;
					align-items: stretch;
					text-align: left;
				}

				.btn {
					min-width: auto;
					width: 100%;
				}
			}

			.ads__top-section {
				width: 100%;
				flex-wrap: wrap;
				order: 0;

				.btn {
					margin-top: 10px;
				}
			}

			.ads__bottom-section {
				width: 100%;
				margin-top: 10px;
			}

			.ads__menu {
				margin-left: 0;
				order: 0;
			}
		}
    }

    body.overflow-search {
        overflow: hidden;
    }

    .search {

        #search__map {
            display: none;
        }

        &__toggleMap {
            top: 80px;
            transform: translateX(0);
            left: 100%;
            right: 0;
            width: 100%;
            box-shadow: 0 9px 27px rgba(0, 0, 0, 0);
            justify-content: flex-start;
            padding: 10px 15px;
            transition: all .2s linear;

            .text {
                display: inline-block;
            }
        }

        &__formMainWrap {
            overflow-y: scroll;
            height: 100%;
            padding-bottom: 20px;
        }

        &__formWrap {

            & > * {
                width: 100%;
            }

            .radio-wrap,
            .input-group--mtBig,
            .helper--mtBig {
                margin-top: 25px;
            }

            .input-group--cadNumSearch {
                order: 3;
            }
        }

        .helper {

            .input-group {
                width: 100%;
            }
        }

        &__form {
            padding: 85px 15px 0;
            width: 100%;
            transform: translateX(-100%);
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            &.active {
                padding: 85px 15px 0;
                width: 100%;
                margin-left: 0;

                .search__formWrap {

                    & > * {
                        width: 100%;
                    }
                }

                .search__toggleMap {
                    left: calc(100% - 50px);

                    img {
                        transform: rotate(-180deg);
                    }

                    .text {
                        opacity: 0;
                    }
                }
            }

            &.scroll {

                .search__toggleMap {
                    left: 100%;
                    width: 50px;
                    overflow: hidden;

                    .text {
                        opacity: 0;
                    }
                }

                &.active {

                    .search__toggleMap {
                        left: calc(100% - 50px);
                    }
                }
            }
        }
    }

    .footer {

        &__pay {
            left: 15px;
            bottom: 50px;
            transform: none;
        }

        &__mail {
            position: absolute;
            bottom: 50px;
            right: 15px;
        }

        &__social {
            justify-content: flex-start;
        }
    }
}

@media only screen and (max-width: 599px) {

    .advertising-info {

        &__column {
            min-width: 100%;
            text-align: center;
        }

        &__card {
            flex-direction: column;
        }
    }

    .promote {

        &__servicesPackagesTitle {
            flex-direction: column;
            align-items: flex-start;
        }

        &__servicesCardWrap {
            margin-top: 30px;
        }

        &__services {

            .form-send {
                flex-direction: column;
                align-items: flex-end;

                .btn {
                    margin-top: 15px;
                }
            }
        }
    }

    .support {
        padding: 50px 0 100px;

        .form-send {
            flex-direction: column;

            .btn {
                margin-left: 0;
            }
        }

        &__person {
            flex-wrap: wrap;

            .input-group {
                width: 100%;

                & + .input-group {
                    margin-top: 40px;
                }
            }
        }

        &__selectPost {
            flex-wrap: wrap;

            & > .text {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }

            .radio {

                & + .radio {
                    margin-left: 10px;
                }
            }
        }
    }

    .favorites {
        padding: 50px 0;
    }

    .setNumber {
        flex-direction: column;

        a {
            margin-left: 0;
        }
    }

    .create-advert {

        &__formData {
            width: 100%;
            margin-top: 10px;
        }

        &__cadastData {
            width: 100%;
            order: -1;
        }
    }

    .upload-photos {
        margin: 15px -5px -5px;
        width: calc(100% + 10px);

        &__card {
            width: calc((100% / 2) - 11px);
            height: 130px;
            margin: 20px 5px;
        }
    }

    .popup {

        &__wrap {
            padding: 40px 15px;
        }
    }

    #upload-demo {
        width: 100%;
    }

    .register-step-wrap {

        .input-group {
            width: 100%;
        }
    }

    .registration {
        padding: 80px 0;
    }

    .form-send {

        &--centerMob {
            flex-direction: column;

            .btn {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .swiperBig {
        display: none;
	}
	
    .footer {
        padding: 100px 0 150px;

        &__mail {
            left: 15px;
            right: auto;
            bottom: 72px;
        }

        &__pay {
            bottom: 96px;
        }

        .logo {
            left: 15px;
            transform: translateX(0);
        }

        &__nav {

            li {
                margin-top: 10px;
            }
        }

        &__card {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            pointer-events: none;
        }

        &__development {
            pointer-events: visible;
            left: 15px;
            right: auto;
        }

        &__copyright {
            bottom: 50px;
        }

        .container {
            flex-direction: column;
        }
    }

    .social-nav {
        position: absolute;
        right: 15px;
        top: 50px;
        pointer-events: visible;

        li {

            img {
                width: 22px;
            }
        }
    }

    .advert {
        padding: 15px 0 30px;

        &__statusNav {
            margin-right: 30px;
        }

        &__map {
            height: 255px;
            order: 2;
            margin-top: 60px;
        }

        &__main {
            margin-top: 10px;
        }

        .personCard {
            order: 1;
            margin-top: 40px;
        }

        &__listInfo {

            li {
                flex-direction: column;

                .text:first-child {
                    width: auto;
                    margin-bottom: 10px;
                }

                &:first-child {
                    margin-top: 0;
                }

                & + li {
                    margin-top: 25px;
                }
            }
        }

        &__swiper {
            margin-top: 40px;
        }

        &__otherInfo {
            order: -1;
            width: 100%;
            margin-left: 0;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }

        &__otherInfoCard {

            .favoritesButton {
                position: absolute;
                right: 0;
                top: 4px;
            }

            &--date {
                position: static;
                margin-left: 0;
            }

            &:last-child {
                margin-top: 0;
                margin-left: 10px;
            }

            &--extra {
                margin-left: auto;
            }
        }

        &__headInfo {
            flex-wrap: wrap;
            margin-top: 15px;
        }

        &__listInfo {
            margin-top: 30px;
		}
		
		&__extra-card {
			margin-left: 10px;
		
			& .extra-card {
				
				&__inform {
					left: -30px;

					&:before {
						left: 72%;
					}
				}
			}
		}

		&__top-wrap {

			.ads__main-info {
				display: block;
			}

			.ads__top-section {
				justify-content: space-between;
			}

			.ads__menuDrop {
				left: -45px;

				&:before {
					left: 145px;
				}
			}

			.ads__bottom-section {
				
				.btn {
					width: 100%;
					margin-top: 10px;

					&:last-child {
						margin-left: 0;
					}
				}
			}

			.fresh-info--advert {
				margin-top: 0;
			}

			.ads__otherInfo {
				order: -1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;

				.advert__otherInfoCard {
					margin-top: 0;
				}
				
				.advert__otherInfoCard--date {
					margin-left: 0;

					p span:first-child {
						display: none;
					}
				}

				.favoritesButton {
					position: relative;
					left: auto;
					top: auto;
				}

				.viewers {
					margin-left: 10px;
				}
			}

			.ads__otherInfo {
				min-width: 100%;
			}
		}
    }

    .fresh-info {

        &--advert {
            flex-direction: column;
            margin-left: 0;
            margin-top: 5px;

            .fresh-info__card {
                margin-left: 0;
                margin-top: 20px;

                & + .fresh-info__card {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }

            .fresh-info__value {
                font-size: 19px;
            }

            .signature {
                font-size: 13px;

                &--mt {
                    margin-top: 0;
                }
            }
        }
    }

    .signature {
        font-size: 13px;
    }

    .title {

        &--sub {
            font-size: 23px;

            &.flex-cont {
                flex-direction: column;
                align-items: flex-start;
            }

            .signature {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    .news-section {

        .title {

            &--sub {
                font-size: 23px;

                &.flex-cont {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        &__card {
            width: 100%;
            margin: 20px 0;
        }

        &__wrap {
            margin: 15px 0 0;
        }
    }

    body.overflow-min {
        overflow: hidden;
    }

    .search-agent {

        &__wrapCard {
            margin: 25px 0 -10px;
        }

        &__wrap {
            padding: 45px 0 60px;
        }

        &__procedureAgent {
            display: none;
        }

        &__content {
            align-items: flex-end;
            flex-direction: column;

            .btn {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .personCard {

        &--main {
            flex-direction: column;
            min-width: 100%;

            .personCard__gradeCard {

                & + .personCard__gradeCard {
                    margin-left: 20px;
                }
            }
        }

        &__roleWrap {
            display: block;
        }

        &__data {
            margin-top: 10px;
        }

        &--customView {
            width: 100%;
            margin: 10px 0;

        }
    }

    .header {

        .exit-menu {
            display: block;
        }

        &__login {

            img {
                display: none;
            }
        }

        &__burger {

            span {
                width: 26px;
            }
        }

        &__nav {

            .exit-menu {
                left: 15px;
            }
        }

        &__mailUser {
            display: none;
        }

        &__profile-wrap {
            margin-left: 0;
        }

        &__userPhoto {
            margin-right: 0;

            .header__mailCalc {
                display: inline-block;
            }
        }

        &__profileMenu.dropdown {
            transform: translateX(100%);
        }

        &__profile {

            .arrow {
                display: none;
            }

            &.dropdown-main.active {

                .header__profileMenu.dropdown {
                    transform: translateX(0);
                }
            }
        }

        &__profileMenu.dropdown {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            transition: all .2s ease-out;
            cursor: auto;
            padding-top: 95px;

            a {
                font-size: 23px;
                font-family: 'FuturaMediumC', sans-serif;
                color: #000;
                letter-spacing: normal;
                text-transform: none;
                font-weight: normal;
                padding: 0;

                &:hover {
                    background-color: transparent;
                }
            }

            li {

                &.exit {
                    margin-top: 80px;
                }

                & + li {
                    margin-top: 30px;
                }
            }

            .exit-menu {
                position: absolute;
                display: inline-block;
                top: 30px;
                right: 20px;
                cursor: pointer;
            }
        }
    }

    .callboard {
        padding: 20px 0 65px;

        &__description {
            font-size: 14px;
            line-height: 1.6em;
        }

        .fresh-info {
            display: none;
        }

        &__search {

            .title {
                font-size: 28px;
                margin-top: 20px;
            }

            .text--ttu {
                font-size: 10px;
            }
        }

        &__data {
            background-color: #FFFFFF;
            box-shadow: 0 8px 24px rgba(97, 101, 251, 0.13);
            border-radius: 25px;
            align-items: center;
            padding-right: 10px;

            .btn {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                padding: 0;
                position: relative;

                span {
                    display: none;
                }

                &::before {
                    content: '';
                    background: url("../img/svg/arrow-send.svg") no-repeat center / cover;
                    width: 13px;
                    height: 11px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &__input {
            box-shadow: none;
            padding: 8px 20px;

            input {
                margin-left: 0;
            }

            img {
                display: none;
            }
        }
    }

    .news-section {
        overflow: hidden;
        padding: 50px 0;

        &__swiper {
            overflow: visible;

            .swiper-slide {
                padding-right: 25px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .advert-action {
        width: calc(100% - 30px);
	}
	
	.favorites-login,
	.favorites-login-second,
	.close-advert {

		.helper {
			flex-direction: column;
		}

		.btn {

			&--ml-20 {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}

	.pagination {

		.page-item {

			&:first-child,
			&:last-child {
				width: 2em;
				height: 2em;

				a, span {
					font-size: 1.8em;
					line-height: 1.1em;
				}
			}

			&:nth-child(n+2) {
				margin-left: .8em;
			}
		}
	}
}

@media only screen and (max-height: 400px) {
    .header {

        &__nav,
        &__profileMenu.dropdown {
            padding: 40px 15px;
            overflow-y: scroll;
        }
    }
}
