// Cookies -----------
//.cookies {
//  position: fixed;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  width: 100%;
//  background-color: $cookieBg;
//  padding: 25px 0 20px;
//  text-align: center;
//  transition: all .2s linear;
//  opacity: 0;
//  z-index: -1;
//
//  &__text {
//    margin: 0 auto 10px;
//    width: 76%;
//    font-size: 14px;
//  }
//
//  &.js-show {
//    opacity: 1;
//    z-index: 99;
//  }
//}

// Popup -------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
    opacity: 0;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: all .1s linear;
        opacity: .2;

        img {
            width: 17px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__wrap {
        background-color: #fff;
        max-width: 660px;
        width: 100%;
        padding: 40px 30px;
        position: relative;
        transition: all .2s ease-out;
        transform: translateY(50px);
        box-shadow: 0 0 62px rgba(0, 0, 0, 0.4);
        margin-top: 150px;

        &--min {
            max-width: 460px;
        }

        &--big {
            max-width: none;
            padding: 0;
            margin-top: 0;
            background-color: transparent;
            box-shadow: none;
        }
    }

    &__advert-wrap {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        display: inline-flex;
        position: relative;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    &__advert-swiper {
        position: relative;
        width: 100%;
        max-height: 85vh;
        overflow: hidden;
        display: flex;
        align-items: center;

        img {
            max-height: calc(85vh - 40px);
        }

        .swiper-slide {
            max-height: 85vh;
            text-align: center;
            padding: 15px;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
        }
    }

    &__advert-control {
        position: absolute;
        top: 50%;
        width: calc(100% - 10px);
        transform: translateY(-50%);
        z-index: 2;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__advert-controlCard {
        width: 70px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        cursor: pointer;
        outline: none;

        img {
            width: 30px;
        }

        &.swiper-button-disabled {
            opacity: .35;
            pointer-events: none;
        }
    }

    &.cropper {

        .popup__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn {
                margin-top: 55px;
            }
        }
    }

    &.swiperBig {
        flex-direction: column;
        align-items: center;

        .popup__close {
            background-color: #fff;
            top: 20px;
            right: 20px;
            opacity: 1;
        }
    }
}

.close-advert {

	&__sum {

		input {
			width: 100px;
			border-bottom: 1px solid #000;
			color: #236DF1;
			font-size: 16px;

			&.error {
				border-bottom: 1px solid $colorValidate !important;
			}
		}
	}
}

// Show
.js-popup-show {
    z-index: 99999;
    opacity: 1;
    transform: scale(1);

    .popup__wrap {
        transform: translateY(0);
    }
}
