/*STYLE RESET START*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    color: $color;
    font: $fontWeight $fontSize $font, sans-serif;
    background-color: $bgColor;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input, button, select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

button {
    cursor: pointer;
}

.height-helper {
    min-height: 100%;
    background-color: #fff;

    &.dark-theme {
        background-color: $colorBgGray;
    }
}

/*STYLE RESET END*/
