// Reset ---------------
$font: 'Circe';
$fontWeight: normal;
$fontSize: 14px;
$color: #000;
$bgColor: #fff;

// Color
$colorBlue: #236DF1;
$colorOrange: #FFC000;
$colorYellow: #f3bf01;
$colorGray: #9596A4;
$colorGrayLight: #E8E8E8;
$colorTurquoise: #47C4C4;
$colorRed: #EA5633;
$colorRedLight: #FEF1F1;

// Main BG color
$colorBgGray: #F8F8F8;

// Validate
$colorValidate: #F56A6A;
