<template>
    <div id="m_ver_menu"
         class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-scroller ps"
         m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500"
         style="position: relative;">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <!--<li class="m-menu__item " aria-haspopup="true">-->
            <!--<a href="stats" class="m-menu__link ">-->
            <!--<i class="m-menu__link-icon flaticon-line-graph"></i>-->
            <!--<span class="m-menu__link-title">-->
            <!--<span class="m-menu__link-wrap">-->
            <!--<span class="m-menu__link-text">-->
            <!--Статистика-->
            <!--</span>-->
            <!--<span class="m-menu__link-badge"></span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
            <li class="m-menu__item " aria-haspopup="true">
                <a href="customers" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Пользователи
                            </span>
                            <span v-if="this.customer_count !=0" class="m-menu__link-badge">
                                <span class="m-badge m-badge--danger">{{ this.customer_count }}</span>
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="adverts" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                 Объявления
                            </span>
                            <span v-if="this.advert_count !=0" class="m-menu__link-badge">
                                <span class="m-badge m-badge--danger js-counter">{{ this.advert_count }}</span>
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="articles" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Новости
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="pages" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-list"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Текстовые страницы
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="supports" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-support"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Обращения в тех. под.
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true">
                <a href="payments" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-price-tag"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Платежи
                            </span>
                            <span class="m-menu__link-badge"></span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                advert_count: 0,
                customer_count: 0,
            };
        },
        created() {
            axios.post('/admin/advert/count').then(response => (this.advert_count = response.data));
            axios.post('/admin/customer/count').then(response => (this.customer_count = response.data));
        }

    }
</script>

<style scope>
    .menu-counter{
        color:red;
    }
</style>



